.PIT {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  cursor: default;
  xfont-family: 'TC-light';
  font-size: 1rem;
  min-width: 250px;
  position: absolute;
  text-align: left;
  right: 0;
  top: 26px;
  z-index: 1;
}
.PIT.label-left {
  width: 800%;
}
.PIT .head {
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.4rem 1rem;
}
.PIT .item {
  border-bottom: 1px solid #e0e0e0;
  padding: 0.2rem 1rem;
  white-space: nowrap;
}
.PIT .item > span.label {
  display: block;
  font-weight: 700;
}
.PIT.label-left .item > span.label {
  display: block;
  float: left;
  padding: 0.5rem;
  width: 40%;
}
.PIT .item span.tc-postfix-part {
  display: inline;
}
.PIT .item span.edgeConnectDisabled {
  color: #c0392b;
}
.PIT .foot a {
  display: inline-block;
  margin: 4px 1rem;
  min-width: 70px;
  text-align: center;
}
.PIT .foot a:last-of-type {
  float: right;
}
.tc-table-wrapper.no-overflow {
  overflow: inherit;
}