.nCM.ui-sortable li {cursor: default;}
.nCM.ui-sortable span.icon-drag {cursor: n-resize;}
.nCM.ui-sortable span.icon-trash {cursor: pointer;}
.nCM-add1 {background-color: #eee; border-bottom: 1px solid #ccc; color: #888; font-style: italic;}
th.nCMhover {background-color:#e0e0e0;}
