
.headerDropdownRow {
  border-bottom: 1px solid #d7d7d7;
  height: 45px;

  padding-top: 5px;
/*
  padding-right: 15px;
*/

}

.headerDropdownRow a span.text {
  font-size: 13px;
  margin-left: 10px;
  position: relative;
  bottom: 5px;
  white-space: nowrap;
}





.PMenu {
	display: none;
	position: absolute;
	background-color: white;
	/*right: -6px;*/
	top: 80%;
	border-radius: 13px;
	z-index: 2;
	line-height: 20px;
}
.PMenu .title {
	color: #fff;
	font-size: 18px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	background-color: #578AB9;
	padding: 10px;
}
.PMenu .title::after {
	content: "";
	position: absolute;
	/*right: 33px;*/
	left: auto;
	top: -8px;
	bottom: auto;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: #578AB9 transparent;
	display: block;
	width: 0;
}
.PMenu .body {
/*
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
*/
	padding: 0 10px 0 0px;
	background-color: #f2f2f2;
	margin-left: -135px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.PMenu {
	top: auto !important;
}