﻿/* ----- ICON FONTS ----- */
@font-face {
  font-family: 'TCIB';
  src:
    url('../fonts/icon.ttf?lu3fei') format('truetype'),
    url('../fonts/icon.woff?lu3fei') format('woff'),
    url('../fonts/icon.svg?lu3fei#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon, .icon::before {
/*  cursor: pointer; */
/*  display: inline-block; */
  font-style: normal;
/*  font-size: 2rem; */
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/*  speak: none;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.bold, .icon.bold::before {
  font-size: 1.3em;
  font-weight: 700;
  vertical-align: top;
}
.icon[onclick] {cursor: pointer;}

.icon.TCIB, .icon.TCIB:before, .icon.TCIB:after {font-family: 'TCIB';}
.icon.TCIB.home:before {content: "\e600";}
.icon.TCIB.cog:before {content: "\e601";}
.icon.TCIB.mail:before {content: "\e602";}
.icon.TCIB.pencil:before {content: "\e603";}
.icon.TCIB.newspaper:before {content: "\e604";}
.icon.TCIB.image:before {content: "\e605";}
.icon.TCIB.book:before {content: "\e606";}
.icon.TCIB.file:before {content: "\e607";}
.icon.TCIB.profile:before {content: "\e608";}
.icon.TCIB.support:before {content: "\e609";}
.icon.TCIB.phone:before {content: "\e60a";}
.icon.TCIB.notebook:before {content: "\e60b";}
.icon.TCIB.pushpin:before {content: "\e60c";}
.icon.TCIB.clock:before {content: "\e60d";}
.icon.TCIB.alarm:before {content: "\e60e";}
.icon.TCIB.bell:before {content: "\e60f";}
.icon.TCIB.bubble:before {content: "\e610";}
.icon.TCIB.bubbles:before {content: "\e611";}
.icon.TCIB.user:before {content: "\e612";}
.icon.TCIB.users:before {content: "\e613";}
.icon.TCIB.manager:before {content: "\e614";}
.icon.TCIB.search:before {content: "\e615";}
.icon.TCIB.key:before {content: "\e616";}
.icon.TCIB.lock:before {content: "\e617";}
.icon.TCIB.unlocked:before {content: "\e618";}
.icon.TCIB.cogs:before {content: "\e619";}
.icon.TCIB.bars:before {content: "\e61a";}
.icon.TCIB.stats:before {content: "\e61b";}
.icon.TCIB.remove:before {content: "\e61c";}
.icon.TCIB.warning:before {content: "\e61d";}
.icon.TCIB.notification:before {content: "\e61e";}
.icon.TCIB.question:before {content: "\e61f";}
.icon.TCIB.info:before {content: "\e620";}
.icon.TCIB.blocked:before {content: "\e621";}
.icon.TCIB.info2:before {content: "\e622";}
.icon.TCIB.cancel-circle:before {content: "\e623";}
.icon.TCIB.checkmark-circle:before {content: "\e624";}
.icon.TCIB.spam:before {content: "\e625";}
.icon.TCIB.arrow-up-right:before {content: "\e626";}
.icon.TCIB.arrow-right:before {content: "\e627";}
.icon.TCIB.arrow-down-right:before {content: "\e628";}
.icon.TCIB.filter:before {content: "\e629";}
.icon.TCIB.google-plus:before {content: "\e62a";}
.icon.TCIB.facebook:before {content: "\e62b";}
.icon.TCIB.twitter:before {content: "\e62c";}
.icon.TCIB.linkedin:before {content: "\e62d";}
.icon.TCIB.file-pdf:before {content: "\e62e";}
.icon.TCIB.file-excel:before {content: "\e62f";}
.icon.TCIB.bulb:before {content: "\e630";}
.icon.TCIB.checkbox-checked:before {content: "\e631";}
.icon.TCIB.checkbox-unchecked:before {content: "\e632";}

@font-face {
  font-family: 'BlueMagic';
  src:
    url('../fonts/BlueMagic.ttf?r7yko5') format('truetype'),
    url('../fonts/BlueMagic.woff?r7yko5') format('woff'),
    url('../fonts/BlueMagic.svg?r7yko5#BlueMagic') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon.BlueMagic, .icon.BlueMagic:before, .icon.BlueMagic:after {font-family: 'BlueMagic';}
.icon.BlueMagic.mortgage:before {content: "\21";}
.icon.BlueMagic.loan:before {content: "\22";}
.icon.BlueMagic.car:before {content: "\23";}
.icon.BlueMagic.balance:before {content: "\24";}
.icon.BlueMagic.transfer:before {content: "\25";}
.icon.BlueMagic.bulkpayments:before {content: "\26";}
.icon.BlueMagic.requestcheque:before {content: "\27";}
.icon.BlueMagic.payments:before {content: "\28";}
.icon.BlueMagic.payagain:before {content: "\29";}
.icon.BlueMagic.pay:before {content: "\2a";}
.icon.BlueMagic.locateonmap:before {content: "\2b";}
.icon.BlueMagic.mobile:before {content: "\2c";}
.icon.BlueMagic.creditcard:before {content: "\2d";}
.icon.BlueMagic.dial:before {content: "\2e";}
.icon.BlueMagic.lock:before {content: "\2f";}
.icon.BlueMagic.logout:before {content: "\30"; cursor: pointer;}
.icon.BlueMagic.menu1:before {content: "\31";}
.icon.BlueMagic.menu2:before {content: "\32";}
.icon.BlueMagic.menu3:before {content: "\33";}
.icon.BlueMagic.home:before {content: "\34";}
.icon.BlueMagic.notifications:before {content: "\35";}
.icon.BlueMagic.mail:before {content: "\36";}
.icon.BlueMagic.messages:before {content: "\37";}
.icon.BlueMagic.settings:before {content: "\38";}
.icon.BlueMagic.search:before {content: "\39";}
.icon.BlueMagic.bankpinmap:before {content: "\3a";}
.icon.BlueMagic.viewcheque:before {content: "\3b";}
.icon.BlueMagic.legal:before {content: "\3c";}
.icon.BlueMagic.upcomingpayment:before {content: "\3d";}
.icon.BlueMagic.receipt:before {content: "\3e";}
.icon.BlueMagic.lettercredit:before {content: "\3f";}
.icon.BlueMagic.wealth:before {content: "\40";}
.icon.BlueMagic.filter:before {content: "\41";}
.icon.BlueMagic.globe:before {content: "\42";}
.icon.BlueMagic.wallet:before {content: "\43";}
.icon.BlueMagic.share:before {content: "\44";}
.icon.BlueMagic.users:before {content: "\45";}
.icon.BlueMagic.graph:before {content: "\46";}
.icon.BlueMagic.calendar:before {content: "\47";}
.icon.BlueMagic.clock:before {content: "\48";}
.icon.BlueMagic.upload:before {content: "\49";}
.icon.BlueMagic.revert:before {content: "\4a";}
.icon.BlueMagic.timer:before {content: "\4b";}
.icon.BlueMagic.personalise:before {content: "\4c";}
.icon.BlueMagic.savingsaccount:before {content: "\4d";}
.icon.BlueMagic.currentaccount:before {content: "\4e";}
.icon.BlueMagic.download:before {content: "\4f";}
.icon.BlueMagic.print:before {content: "\50";}
.icon.BlueMagic.adduser:before {content: "\51";}
.icon.BlueMagic.phone:before {content: "\52";}
.icon.BlueMagic.list:before {content: "\53";}
.icon.BlueMagic.goals:before {content: "\54";}
.icon.BlueMagic.tools:before {content: "\55";}
.icon.BlueMagic.addaccount:before {content: "\56";}
.icon.BlueMagic.changeuser:before {content: "\57";}
.icon.BlueMagic.language:before {content: "\58";}
.icon.BlueMagic.locate:before {content: "\59";}
.icon.BlueMagic.addphoto:before {content: "\5a";}
.icon.BlueMagic.pendingpayment:before {content: "\5b";}
.icon.BlueMagic.return:before {content: "\5c";}
.icon.BlueMagic.transactions:before {content: "\5d";}
.icon.BlueMagic.directdebit:before {content: "\5e";}
.icon.BlueMagic.directions:before {content: "\5f";}
.icon.BlueMagic.key:before {content: "\60";}
.icon.BlueMagic.switch:before {content: "\61";}
.icon.BlueMagic.info:before {content: "\62";}
.icon.BlueMagic.selectall:before {content: "\63";}
.icon.BlueMagic.remove:before {content: "\64";}
.icon.BlueMagic.cancel:before {content: "\65";}
.icon.BlueMagic.edit:before {content: "\66";}
.icon.BlueMagic.save:before {content: "\67";}
.icon.BlueMagic.trash:before {content: "\68";}
.icon.BlueMagic.right:before {content: "\69";}
.icon.BlueMagic.send:before {content: "\6a";}
.icon.BlueMagic.show:before {content: "\6b";}
.icon.BlueMagic.hide:before {content: "\6c";}
.icon.BlueMagic.user:before {content: "\6d";}
.icon.BlueMagic.help:before {content: "\6e";}
.icon.BlueMagic.up:before {content: "\6f";}
.icon.BlueMagic.down:before {content: "\70";}
.icon.BlueMagic.alerts:before {content: "\71";}
.icon.BlueMagic.reload:before {content: "\72";}
.icon.BlueMagic.add:before {content: "\73";}
.icon.BlueMagic.back:before {content: "\74";}
.icon.BlueMagic.left:before {content: "\75";}
.icon.BlueMagic.selectnone:before {content: "\76";}
.icon.BlueMagic.ok:before {content: "\77";}
.icon.BlueMagic.sortby:before {content: "\78";}
.icon.BlueMagic.forward:before {content: "\79";}
.icon.BlueMagic.drag:before {content: "\7a";}
.icon.BlueMagic.map:before {content: "\7b";}
.icon.BlueMagic.stop:before {content: "\7c";}
.icon.BlueMagic.atmpinmap:before {content: "\7d";}
.icon.BlueMagic.manageusers:before {content: "\7e";}
.icon.BlueMagic.sweeps:before {content: "\a3";}
.icon.BlueMagic.news:before {content: "\a6";}
.icon.BlueMagic.bounce:before {content: "\ac";}
.icon.BlueMagic.links:before {content: "\c1";}
.icon.BlueMagic.tour:before {content: "\c9";}
.icon.BlueMagic.roles:before {content: "\20ac";}
.icon.BlueMagic.reverse:before {content: "\127";}
.icon.BlueMagic.pinned:before {content: "\169";}
.icon.BlueMagic.ispinned:before,
.icon.BlueMagic.ispinned0:before {content: "\169"; color: transparent;}
.icon.BlueMagic.ispinned1:before {content: "\170"; color: #aaa;}
.icon.BlueMagic.unpinned:before {content: "\170";}
.icon.BlueMagic.circle-left:before {content: "\174";}
.icon.BlueMagic.circle-right:before {content: "\175";}
.icon.BlueMagic.circle-up:before {content: "\176";}
.icon.BlueMagic.circle-down:before {content: "\177";}
.icon.BlueMagic.circle-accept:before {content: "\231";}
.icon.BlueMagic.checkbox-tick:before {content: "\259";}
.icon.BlueMagic.checkbox-cross:before {content: "\260";}
.icon.BlueMagic.handshake:before {content: "\270";}
.icon.BlueMagic.education:before {content: "\271";}
.icon.BlueMagic.umbrella:before {content: "\272";}
.icon.BlueMagic.flow:before {content: "\273";}
.icon.BlueMagic.edit-attributes:before {content: "\274";}
.icon.BlueMagic.access-taxes:before {content: "\275";}
.icon.BlueMagic.locate-hollow:before {content: "\276";}
.icon.BlueMagic.hierarchy:before {content: "\e601";}
.icon.BlueMagic.matrix:before {content: "\e602";}
.icon.BlueMagic.position-buy:before {content: "\e603";}
.icon.BlueMagic.position-sell:before {content: "\e604";}
.icon.BlueMagic.arrow-down:before {content: "\e60a";}
.icon.BlueMagic.arrow-downright:before {content: "\e60b";}
.icon.BlueMagic.arrow-right:before {content: "\e60e";}
.icon.BlueMagic.arrow-up:before {content: "\e60f";}
.icon.BlueMagic.arrow-upright:before {content: "\e610";}
.icon.BlueMagic.basket:before {content: "\e6bd";}
.icon.BlueMagic.block:before {content: "\e616";}
.icon.BlueMagic.chart-bar1:before {content: "\e61d";}
.icon.BlueMagic.chart-pie:before {content: "\e61e";}
.icon.BlueMagic.chart-research:before {content: "\e623";}
.icon.BlueMagic.checkbox-checked:before {content: "\e631";}
.icon.BlueMagic.checkbox-unchecked:before {content: "\e632";}
.icon.BlueMagic.cog-double:before {content: "\e63c";}
.icon.BlueMagic.copy:before {content: "\e63d";}
.icon.BlueMagic.excel:before {content: "\e645";}
.icon.BlueMagic.file:before {content: "\e649";}
.icon.BlueMagic.folder-search:before {content: "\e6c0";}
.icon.BlueMagic.mail-new:before {content: "\e664";}
.icon.BlueMagic.mail-read:before {content: "\e665";}
.icon.BlueMagic.mail-sent:before {content: "\e668";}
.icon.BlueMagic.pause:before {content: "\e67a";}
.icon.BlueMagic.pdf:before {content: "\e680";}
.icon.BlueMagic.play:before {content: "\e68b";}
.icon.BlueMagic.reject:before {content: "\e692";}
.icon.BlueMagic.severity-compliant:before {content: "\e6a2";}
.icon.BlueMagic.severity-noncompliant:before {content: "\e6a3";}
.icon.BlueMagic.severity-undefined:before {content: "\e6a4";}
.icon.BlueMagic.summary:before {content: "\e6b6";}
.icon.BlueMagic.portfolio:before {content: "\e6b7";}
.icon.BlueMagic.records:before {content: "\e6b8";}
.icon.BlueMagic.circle-unfilled:before {content: "\e6b9";}
.icon.BlueMagic.circle-filled:before {content: "\e6ba";}
.icon.BlueMagic.important:before {content: "\e6bb";}
.icon.BlueMagic.warning:before {content: "\e6bc";}
.icon.BlueMagic.undo:before {content: "\e6be";}
.icon.BlueMagic.redo:before {content: "\e6bf";}
.icon.BlueMagic.folder-search:before {content: "\e6c0";}
.icon.BlueMagic.user-change:before {content: "\e6c1";}
.icon.BlueMagic.select:before {content: "\e6c3";}
.icon.BlueMagic.circle-add-hollow:before {content: "\e6c4";}
.icon.BlueMagic.circle-remove-hollow:before {content: "\e6c5";}
.icon.BlueMagic.question2:before {content: "\e6c6";}
.icon.BlueMagic.strategy:before {content: "\e6c7";}
.icon.BlueMagic.columns:before {content: "\e6c8";}
.icon.BlueMagic.program:before {content: "\e6c9";}
.icon.BlueMagic.radio-checked:before {content: "\e6ca"; font-size: 15px;}
.icon.BlueMagic.radio-unchecked:before {content: "\e6cb"; font-size: 15px;}

.icon.BlueMagic.spam:before {content: "\e626";}
.icon.BlueMagic.google-plus:before {content: "\e633";}
.icon.BlueMagic.facebook:before {content: "\e634";}
.icon.BlueMagic.twitter:before {content: "\e635";}
.icon.BlueMagic.linkedin:before {content: "\e636";}
.icon.BlueMagic.bulb:before {content: "\e639";}
.icon.BlueMagic.file-pdf:before {content: "\e637";}
.icon.BlueMagic.file-excel:before {content: "\e638";}
.icon.BlueMagic.trend-1:before {content: "\e60b";}
.icon.BlueMagic.trend0:before {content: "\e60e";}
.icon.BlueMagic.trend1:before {content: "\e610";}

.icon._grey {color: #bbb !important;}

.icon.rot90:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* icons used in tables */
table a.icon.buy:before           {content: "\73";}
table a.icon.sell:before          {content: "\64";}
table a.icon.Operations:before    {font-family: 'TCIB'; content: "\e607" !important;}
table a.icon.Prices:before        {font-family: 'TCIB'; content: "\e61a" !important;}

table .icon.Number {font-size: 0; text-align: center; vertical-align: middle;}
table .icon.Number:before         {font-family: 'BlueMagic' !important; font-size: 20px; vertical-align: middle;}
table .icon.Number.check0:before  {content: "\e6a4"; color: #bdc3c7;}    /* no objectives defined */
table .icon.Number.check1:before  {content: "\e6a4"; color: #7f8c8d;}    /* not evaluated */
table .icon.Number.check2:before  {content: "\e6a2"; color: #23c162;}    /* compliant */
table .icon.Number.check3:before  {content: "\e6a3"; color: #f1c40f;}    /* not compliant - low severity */
table .icon.Number.check4:before  {content: "\e6a3"; color: #e66e22;}    /* not compliant - medium severity */
table .icon.Number.check5:before  {content: "\e6a3"; color: #e74c3c;}    /* not compliant - high severity */
table .icon.Number span[title] {   /* get the tooltip on the span element */
  min-width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: -20px;
}
table .icon.Number div {display: none;}
table td.icon.Number.recommendation1 {max-width: 6px;}
table td.icon.Number.recommendation1 > i.Number {max-width: 6px;}
table td.recommendation1 span {left:0 !important}
table td.recommendation1 span::after {
  content: "\101";
  font-family: BlueMagic23;
  font-size: 20px;
  margin-left: -2rem;
}
table .icon.Number.mandatory-:before,
table .icon.Number.mandatory-0:before,
table .icon.Number.mandatory-No:before  {content: "\65"; color: #e66e22;}
table .icon.Number.mandatory-1:before,
table .icon.Number.mandatory-Yes:before  {content: "\77"; color: #23c162;}
table .icon.Number.default-:before,
table .icon.Number.default-0:before,
table .icon.Number.default-No:before  {content: "\65"; color: #e66e22;}
table .icon.Number.default-1:before,
table .icon.Number.default-Yes:before  {content: "\77"; color: #23c162;}

table .icon.List {font-size: 0; text-align: center;}
table .icon.List:before         {font-family: 'BlueMagic23' !important; font-size: 24px; line-height: 14px; vertical-align: middle;}

table td .icon, table td.icon {font-size: 20px; line-height: inherit; text-align: center; color: #444;}
table td.icon.trend-1:before {content: "\e60b"; color: #E74C3C;}   /* down */
table td.icon.trend0:before  {content: "\e60e";}   /* no change */
table td.icon.trend1:before  {content: "\e610"; color: #2ECC71;}   /* up */

table td.icon.Notification  > i.Text{font-size: 0;text-align: center;}

table td i.icon.stats:before  {font-family: "TCIB" !important; content: "\e61b";}   /* stats & price history graph icon */

table .icon.bold, table .icon.bold::before {vertical-align: baseline;}
table td .icon.BlueMagic.right {color: #444; vertical-align: bottom;}

table td.List .icon.status:before {font-size: 1.1em; vertical-align: bottom;}
table td.List .icon.status.Untreated:before {content: "\6e"; color: #7f8c8d;}
table td.List .icon.status.Treated:before {content: "\62"; color: #7f8c8d;}
table td.List .icon.status.Cancelled:before {content: "\e6a3"; color: #444;}/**/
table td.List .icon.status.Success:before {content: "\231"; color: #23c162;}
table td.List .icon.status.Failed:before {content: "\e6bc"; color: #e74c3c;}
table td.List .icon.status.RetryCandidate:before {content: "\e6a2"; color: #e6bf;}/**/
table td.List .icon.status.RetryUntreated:before {content: "\6e"; color: #7f8c8d;}
table td.List .icon.status.RetryTreated:before {content: "\62"; color: #7f8c8d;}
table td.List .icon.status.RetryCancelled:before {content: "\e6a3"; color: #444;}/**/
table td.List .icon.status.RetrySuccess:before {content: "\231"; color: #23c162;}
table td.List .icon.status.RetryFailed:before {content: "\e6bc"; color: #e74c3c;}

a.icon.active {color: #4576a4;}
a.icon.inactive {color: #888;}

i.icon.preContent {float: left; font-size: 2.6rem; padding-right: 8px;}
i.icon.preContent.ok {color: #23c162;}
i.icon.preContent.warning {color: #e74c3c;}


/* --- Initiate Multiple Order --- replace checkboxes with icons --- */
td.boolean.List > i.List > i.icon input[type="checkbox"]{margin: 6px 6px 6px -54px; opacity: 0.01;}
.Trident td.boolean.List > i.List > i.icon input[type="checkbox"]{margin: 6px 6px 6px -43px;}
td.boolean.List > i.List div.icon.cbr > input[type="checkbox"]{margin: 6px 6px 6px -16px; opacity: 0.01;}
.icon.BlueMagic.cbr::before {font-size: 18px; vertical-align: middle;}
.icon.BlueMagic.cbr.active::before {font-size: 20px;}
.icon.BlueMagic.add.cbr.active::before {content: "\e603"; color: #6FD892;}
.icon.BlueMagic.remove.cbr.active::before {content: "\e604"; color: #E86A5D;}

table td.icon.List.Message:before {font-family: 'BlueMagic' !important; font-size: 12px; vertical-align: middle;}
table td.icon.List.Message.False:before {content: "\e6ba"; color: #316da2;}
table td.icon.List.Message.True:before {content: " "; color: #ffffff; }
table td.icon.Text.Notification:before {font-family: 'BlueMagic' !important; font-size: 18px; vertical-align: middle;}
table td.icon.Text.Notification.None:before {content: ""; color: #FFFFFF;}
table td.icon.Text.Notification.Success:before {content: "\e6a2"; color: #23c162;}
table td.icon.Text.Notification.Failure:before {content: "\65"; color: #e74c3c;}
table td.icon.Text.Notification.Information:before {content: "\62"; color: #316da2;font-size: 20px;}
table td.icon.Text.Notification.Warning:before {content: "\e6bc"; color: #f1c40f;}
table td.icon.Text.Notification.Error:before {content: "\e6bb"; color: #e74c3c;}

table td.icon.Message div span:before {font-family: 'BlueMagic' !important; font-size: 12px; vertical-align: middle;}
table td.icon.Message div span {font-size: 0; padding: 0 10px;}
table td.icon.Message {width: 20%;}
table td.icon.Message.False div span:before {content: "\e6ba"; color: #316da2;}
table td.icon.Message.True div span:before {content: " "; color: #ffffff; }
table td.icon.Notification div span:before {font-family: 'BlueMagic' !important; font-size: 18px; vertical-align: middle;}
table td.icon.Notification div span {font-size: 0; padding: 0 10px;}
table td.icon.Notification.None div span:before {content: ""; color: #FFFFFF;}
table td.icon.Notification.Success div span:before {content: "\e6a2"; color: #23c162;}
table td.icon.Notification.Failure div span:before {content: "\65"; color: #e74c3c;}
table td.icon.Notification.Information div span:before {content: "\62"; color: #316da2;font-size: 20px;}
table td.icon.Notification.Warning div span:before {content: "\e6bc"; color: #f1c40f;}
table td.icon.Notification.Error div span:before {content: "\e6bb"; color: #e74c3c;}

table th.icon.Star.List {font-size: 14px;}
table td.icon.Star  > i.List{font-size: 0;text-align: center;}
table td.icon.List.Star:before {font-size: 23px; vertical-align: middle;}
table td.icon.List.Star.True:before {content: "\101"; color: #ffcc33;}
table td.icon.List.Star.False:before {content: "\102"; color: #7498bb;}

table th.icon.AcceptOrCancel.List {font-size: 14px;}
table td.icon.AcceptOrCancel  > i.List{font-size: 0;text-align: center;}
table td.icon.List.AcceptOrCancel:before {font-size: 18px; vertical-align: middle;}
table td.icon.List.AcceptOrCancel.Yes:before {content: "\77"; color: #00D313;}
table td.icon.List.AcceptOrCancel.No:before {content: "\65"; color: red;}

/*
i.icon.cbr.active {height: 21px; text-align: center; vertical-align: middle; width: 20px;}
i.icon.add.cbr.active {background-color: #6FD892;}
i.icon.remove.cbr.active {background-color: #E86A5D;}
i.icon.cbr {display: inline-block; width: 20px;}
i.icon.cbr.active {border-radius: 2px; color: #ffffff;}
*/

.yes-icon2:before{
	font-family: 'BlueMagic23';
	content: "\77";
  padding-right: 12px;
	text-transform: lowercase;
	}
.yes-icon{
	border-style: solid;
  border-color: green;
	border-width: 2px;
	color: green;
	/*text-transform: uppercase;*/
  background-color: greenyellow;
	padding: 2px 40px;
  /*margin-right: 4px;*/
}

.no-icon2:before{
	font-family: 'BlueMagic23';
	content: "\65";
	color: blue;
  padding-right: 12px;
	text-transform: lowercase;
}
.no-icon{
	border-style: solid;
  border-color: red;
	border-width: 2px;
	color: red;
	/*text-transform: uppercase;*/
	padding: 2px 40px;
	background-color: pink;
	/*margin-left: 4px;*/
}

/**BlueMagic_Fonticons_2.3.6*/
@font-face {
    font-family: 'BlueMagic23';
    src:    url('../fonts/BlueMagic23.eot?caqnrc');
    src:    url('../fonts/BlueMagic23.eot?caqnrc#iefix') format('embedded-opentype'),
        url('../fonts/BlueMagic23.ttf?caqnrc') format('truetype'),
        url('../fonts/BlueMagic23.woff?caqnrc') format('woff'),
        url('../fonts/BlueMagic23.svg?caqnrc#BlueMagic23') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'BlueMagic23' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-EMAIL:before {content: "\36";}
.icon-PHONE:before {content: "\2c";}
.icon-FAX:before {content: "\50";}

.icon-menu1:before {content: "\31";}
.icon-menu2:before {content: "\32";}
.icon-menu-more:before {content: "\33";}
.icon-home:before {content: "\34";}
.icon-search:before {content: "\39";}
.icon-notification:before {content: "\35";}
.icon-mail:before {content: "\36";}
.icon-mail-read:before {content: "\214";}
.icon-mail-new:before {content: "\206";}
.icon-mail-sent:before {content: "\207";}
.icon-mail-replyall:before {content: "\215";}
.icon-mail-reply:before {content: "\216";}
.icon-mail-forward:before {content: "\217";}
.icon-message:before {content: "\37";}
.icon-settings:before {content: "\38";}
.icon-cog-double:before {content: "\212";}
.icon-execute:before {content: "\121";}
.icon-logout:before {content: "\30";}
.icon-alert:before {content: "\71";}
.icon-accept:before {content: "\77";}
.icon-cancel:before {content: "\65";}
.icon-reverse:before {content: "\127";}
.icon-refresh:before {content: "\72";}
.icon-undo:before {content: "\119";}
.icon-redo:before {content: "\120";}
.icon-arrow-back:before {content: "\74";}
.icon-arrow-forward:before {content: "\79";}
.icon-chevron-left:before {content: "\75";}
.icon-chevron-right:before {content: "\69";}
.icon-chevron-up:before {content: "\6f";}
.icon-chevron-down:before {content: "\70";}
.icon-switch:before {content: "\61";}
.icon-edit:before {content: "\66";}
.icon-save:before {content: "\67";}
.icon-trash:before {content: "\68";}
.icon-send:before {content: "\6a";}
.icon-show:before {content: "\6b";}
.icon-hide:before {content: "\6c";}
.icon-drag:before {content: "\7a";}
.icon-sort:before {content: "\78";}
.icon-select-all:before {content: "\63";}
.icon-select-none:before {content: "\76";}
.icon-user:before {content: "\6d";}
.icon-user-add:before {content: "\51";}
.icon-user-change:before {content: "\57";}
.icon-users:before {content: "\45";}
.icon-contact:before {content: "\52";}
.icon-goals:before {content: "\54";}
.icon-locate:before {content: "\59";}
.icon-tools:before {content: "\55";}
.icon-upload:before {content: "\49";}
.icon-download:before {content: "\4f";}
.icon-print:before {content: "\50";}
.icon-filter:before {content: "\41";}
.icon-summary:before {content: "\205";}
.icon-list:before {content: "\53";}
.icon-social:before {content: "\44";}
.icon-graph:before {content: "\46";}
.icon-calendar:before {content: "\47";}
.icon-personalise:before {content: "\4d";}
.icon-picture:before {content: "\146";}
.icon-picture-add:before {content: "\5a";}
.icon-language:before {content: "\58";}
.icon-account-manage:before {content: "\43";}
.icon-account-add:before {content: "\56";}
.icon-account-foreign:before {content: "\42";}
.icon-account-current:before {content: "\4e";}
.icon-account-savings:before {content: "\5b";}
.icon-mortgage:before {content: "\21";}
.icon-loan:before {content: "\22";}
.icon-sweeps:before {content: "\a3";}
.icon-balance:before {content: "\24";}
.icon-transfer:before {content: "\25";}
.icon-direct-debit:before {content: "\5e";}
.icon-payment-bulk:before {content: "\26";}
.icon-payment:before {content: "\2a";}
.icon-payments:before {content: "\28";}
.icon-payment-repeat:before {content: "\29";}
.icon-creditcard:before {content: "\2d";}
.icon-transactions:before {content: "\5d";}
.icon-payment-future:before {content: "\5c";}
.icon-card-add:before {content: "\152";}
.icon-cheque:before {content: "\162";}
.icon-cheque-view:before {content: "\3b";}
.icon-cheque-request:before {content: "\27";}
.icon-car:before {content: "\23";}
.icon-pin-code:before {content: "\2e";}
.icon-mandates:before {content: "\60";}
.icon-directions:before {content: "\7b";}
.icon-map1:before {content: "\2b";}
.icon-map2:before {content: "\7c";}
.icon-pin-atm:before {content: "\7d";}
.icon-pin-bank:before {content: "\3a";}
.icon-wealth:before {content: "\40";}
.icon-legal:before {content: "\3c";}
.icon-roles:before {content: "\20ac";}
.icon-tour:before {content: "\c9";}
.icon-link:before {content: "\c1";}
.icon-return:before {content: "\ac";}
.icon-star-filled:before {
	font-family: 'BlueMagic23';
    content: "\101";
	font-weight: normal;
	font-style: normal;
}
.icon-star-empty:before {
	font-family: 'BlueMagic23';
    content: "\102";
	font-weight: normal;
	font-style: normal;
}
.icon-chart-bar1:before {content: "\103";}
.icon-chart-bar2:before {content: "\104";}
.icon-chart-graph:before {content: "\105";}
.icon-chart-bubble1:before {content: "\107";}
.icon-chart-bubble2:before {content: "\108";}
.icon-chart-tiles:before {content: "\109";}
.icon-term-deposit:before {content: "\5f";}
.icon-lock:before {content: "\2f";}
.icon-lock0:before {content: "\110"; color: #c0c0c0;}
.icon-unlock:before {content: "\110";}
.icon-lock1:before {content: "\2f";}
.icon-transfer-in:before {content: "\112";}
.icon-transfer-out:before {content: "\113";}
.icon-file:before {content: "\e903";}
.icon-details:before {content: "\111";}
.icon-pdf:before {content: "\114";}
.icon-excel:before {content: "\e904";}
.icon-letter-credit:before {content: "\3f";}
.icon-reject:before {content: "\193";}
.icon-new:before {content: "\122";}
.icon-validate:before {content: "\128";}
.icon-user-management:before {content: "\7e";}
.icon-bill:before {content: "\3e";}
.icon-phone:before {content: "\2c";}
.icon-arrow-left:before {content: "\117";}
.icon-arrow-up:before {content: "\115";}
.icon-arrow-upright:before {content: "\194";}
.icon-arrow-right:before {content: "\118";}
.icon-arrow-downright:before {content: "\195";}
.icon-arrow-down:before {content: "\116";}
.icon-gift:before {content: "\123";}
.icon-records:before {content: "\124";}
.icon-authorise:before {content: "\126";}
.icon-review:before {content: "\136";}
/*.icon-warning:before {content: "\141";}*/
.icon-deposit:before {content: "\142";}
.icon-withdraw:before {content: "\143";}
.icon-preview:before {content: "\144";}
.icon-folder:before {content: "\145";}
.icon-package:before {content: "\147";}
.icon-flag:before
 {
	font-family: 'BlueMagic23';
    content: "\148";
	font-weight: normal;
	font-style: normal;
}
.icon-mandatory1:before {content: "\149";}
.icon-mandatory2:before {content: "\150";}
.icon-office:before {content: "\151";}
.icon-fire:before {content: "\154";}
.icon-bank:before {content: "\155";}
.icon-rel-decrease:before {content: "\156";}
.icon-rel-constant:before {content: "\157";}
.icon-rel-increase:before {content: "\158";}
.icon-unlink:before {content: "\159";}
.icon-cut:before {content: "\160";}
.icon-copy:before {content: "\161";}
.icon-steady:before {content: "\163";}
.icon-meeting:before {content: "\164";}
.icon-complaint:before {content: "\165";}
.icon-hold:before {content: "\166";}
.icon-news:before {content: "\a6";}
.icon-audio:before {content: "\168";}
.icon-pinned:before {content: "\169";}
.icon-unpinned:before {content: "\170";}
.icon-play:before {content: "\171";}
.icon-stop:before {content: "\172";}
.icon-pause:before {content: "\173";}
.icon-restore:before {content: "\4b";}
.icon-timer:before {content: "\4c";}
.icon-frequency:before {content: "\135";}
.icon-late:before {content: "\153";}
.icon-clock:before {content: "\48";}
.icon-circle-unfilled:before {content: "\137";}
.icon-circle-dashed:before {content: "\138";}
.icon-chart-pie:before {content: "\106";}
.icon-circle-remove:before {content: "\64";}
.icon-circle-add:before {content: "\73";}
.icon-information:before {content: "\62";}
.icon-help:before {content: "\6e";}
.icon-important:before {content: "\140";}
.icon-circle-filled:before {content: "\139";}
.icon-circle-left:before {content: "\174";}
.icon-circle-right:before {content: "\175";}
.icon-circle-up:before {content: "\176";}
.icon-circle-down:before {content: "\177";}
.icon-select:before {content: "\178";}
.icon-open:before {content: "\167";}
.icon-spellcheck:before {content: "\179";}
.icon-chart-research:before {content: "\180";}
.icon-collapse:before {content: "\181";}
.icon-expand:before {content: "\182";}
.icon-target:before {content: "\185";}
.icon-fast-forward:before {content: "\186";}
.icon-camera:before {content: "\188";}
.icon-dropdown:before {content: "\189";}
.icon-ux:before {content: "\190";}
.icon-placeholder1:before {content: "\191";}
.icon-placeholder2:before {content: "\192";}
.icon-1:before {content: "\183";}
.icon-2:before {content: "\184";}
.icon-severity-compliant:before {content: "\209";}
.icon-severity-noncompliant:before {content: "\210";}
.icon-severity-undefined:before {content: "\211";}
.icon-cedd:before {content: "\187";}
.icon-social-facebook:before {content: "\196";}
.icon-social-instagram:before {content: "\197";}
.icon-social-linkedin:before {content: "\198";}
.icon-social-google:before {content: "\199";}
.icon-social-rss:before {content: "\200";}
.icon-social-mail:before {content: "\201";}
.icon-social-twitter:before {content: "\202";}
.icon-social-youtube:before {content: "\203";}
.icon-social-skype:before {content: "\204";}
.icon-block:before {content: "\208";}
.icon-portfolio:before {content: "\213";}
.icon-phase-pre:before {content: "\218";}
.icon-phase:before {content: "\219";}
.icon-phase-post:before {content: "\220";}
.icon-placeholder3:before {content: "\221";}
.icon-circle-timed:before {content: "\222";}
.icon-circle-locked:before {content: "\223";}
.icon-row-collapse:before {content: "\224";}
.icon-row-expand:before {content: "\225";}
.icon-circle-add-hollow:before {content: "\226";}
.icon-circle-remove-hollow:before {content: "\227";}
.icon-triangle-down:before {content: "\228";}
.icon-triangle-up:before {content: "\229";}
.icon-content-open:before {content: "\230";}
.icon-circle-accept:before {content: "\231";}
.icon-user-update:before {content: "\232";}
.icon-bulb:before {content: "\233";}
.icon-percentage:before {content: "\234";}
.icon-hierarchy:before {content: "\235";}
.icon-matrix:before {content: "\236";}
.icon-position-buy:before {content: "\237";}
.icon-position-sell:before {content: "\238";}
.icon-campaign:before {content: "\239";}
.icon-subscribe:before {content: "\240";}
.icon-brain:before {content: "\241";}
.icon-strategy:before {content: "\242";}
.icon-overlay:before {content: "\243";}

.BOM-icon {
	font-family: 'BlueMagic23' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding-right: 2px;
	padding-left: 2px;
	color: #4576A4;

}
.BOM-icon.CONT:before{ content: "\6d";}
.BOM-icon.CUST:before{ content: "\6d";}
.BOM-icon.ORGA:before{ content: "\6d";}

.BOM-icon.MSGP:before{ content: "\128";}
.BOM-icon.ACTI:before{ content: "\128";}
.BOM-icon.MAIL:before{ content: "\128";}
.BOM-icon.BSUN:before{ content: "\43";}
.BOM-icon.CAMP:before{content: "\239";}

.BOM-icon.FSPC:before{content: "\50";}
.BOM-icon.FSSE:before{content: "\50";}
.BOM-icon.FSSH:before{content: "\50";}
.BOM-icon.FSSG:before{content: "\50";}
.BOM-icon.FSST:before{content: "\50";}
.BOM-icon.FSTM:before{content: "\50";}
.BOM-icon.OPTI:before{content: "\50";}
.BOM-icon.FSTC:before{content: "\50";}
.BOM-icon.FSSC:before{content: "\50";}
.BOM-icon.FSGR:before{content: "\50";}
.BOM-icon.OPTN:before{content: "\50";}

.BOM-icon.CACT:before{content: "\2d";}

.BOM-icon.DOCT:before{content: "\50";}
.BOM-icon.DOCR:before{content: "\50";}

.BOM-icon.EMPL:before{content: "\45";}

.BOM-icon.INPO:before{content: "\180";}
.BOM-icon.INPR:before{content: "\180";}
.BOM-icon.INPT:before{content: "\180";}
.BOM-icon.AALN:before{content: "\180";}
.BOM-icon.UDFC:before{content: "\180";}
.BOM-icon.IOBJ:before{content: "\180";}

.BOM-icon.MODA:before{content: "\21";}
.BOM-icon.MODL:before{content: "\21";}
.BOM-icon.MODP:before{content: "\21";}

.BOM-icon.OPPO:before{content: "\54";}

.BOM-icon.ORDR:before{content: "\25";}
.BOM-icon.TRDL:before{content: "\25";}

.BOM-icon.PORT:before{content: "\213";}
.BOM-icon.POSN:before{content: "\180";}
.BOM-icon.INST:before{content: "\180";}
.BOM-icon.OVLY:before{content: "\180";}
.BOM-icon.OVAA:before{content: "\180";}

.BOM-icon.STGY:before{content: "\a3";}
.BOM-icon.STGV:before{content: "\a3";}
.BOM-icon.STMO:before{content: "\a3";}
.BOM-icon.STVH:before{content: "\a3";}
.BOM-icon.STPO:before{content: "\a3";}
.BOM-icon.SVCL:before{content: "\a3";}
.BOM-icon.STXO:before{content: "\a3";}

.BOM-icon.TRAN:before{content: "\180";}

.BOM-icon.KNEX:before{content: "\241";}
