.chosen-container-multi .chosen-choices .search-field input.default {width: auto !important;}
.chosen-container-multi .chosen-choices {
  border: 1px solid #ddd;
  border-radius: 0;
  max-width: 720px;
  background: white;
  border-color: #ddd !important;
}
.chosen-container {
  font-size: 1rem;
  width: 100% !important;
}
.chosen-container-multi .chosen-choices,
.chosen-container .chosen-choices {
  min-height: 2.3rem;
}
.chosen-container-multi .chosen-choices li.search-field {
  height: 2.1rem;
}
.chosen-container-active .chosen-choices {
  box-shadow: 0 1px 4px #dddddd;
}
.chosen-container .chosen-results li.highlighted {
  background: rgba(49, 109, 162, 0.2);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice {
  border: 1px solid #ddd;
  background-color: #eee;
  background-image: none;
  box-shadow: none;
  line-height: 1rem;
  margin-right: 5px;
  border-radius: 0;
  margin-top: 4px;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: 36px;
}
a.search-choice-close {
  margin-top: 1px;
}
.tc-compact .tc-table-icon > span {top:-2px;}
.wsc-table td.edgeConnectDisabled {opacity: 1;}

/*.tc-tab-header, .tc-tab-header-button {min-width: auto;}*/

/* Enhancement proposals
.tc-popup-button-container {text-align: right;}
.tc-popup-button-container div.tc-float-right {float: none !important;}
*/

/* ----- PM Profile addon for large screens -----
@media (min-width:1400px){
.tc-box-on .responsive-section{max-width:1920px; width:94%}
}
*/
/*
.wsc-collapsible {
  padding-right: 40px;
}
.wsc-collapsible::after {
  color: #666;
  content: "\176";
  font-family: T-Fonticons;
  position: absolute;
  right: 11px;
  top: 13px;
  font-size: 1.5rem;
}
.wsc-collapsible.wsc-collapsed::after {
  content: "\177";
  color: #c40;
}
*/
span[id$="_ERRORMESSAGE"],span[id*="_ERRORMESSAGE"] {color: #c0392b;}
