@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular-webfont.eot);
  src: url(fonts/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Roboto-Regular-webfont.woff) format('woff'), url(fonts/Roboto-Regular-webfont.ttf) format('truetype'), url(fonts/Roboto-Regular-webfont.svg#RobotoRegular) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto-Regular-webfont.eot);
  src: url(fonts/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Roboto-Regular-webfont.woff) format('woff'), url(fonts/Roboto-Regular-webfont.ttf) format('truetype'), url(fonts/Roboto-Regular-webfont.svg#RobotoRegular) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light';
  src: url(fonts/Roboto-Light-webfont.eot);
  src: url(fonts/Roboto-Light-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Roboto-Light-webfont.woff) format('woff'), url(fonts/Roboto-Light-webfont.ttf) format('truetype'), url(fonts/Roboto-Light-webfont.svg#RobotoLight) format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light Italic';
  src: url(fonts/Roboto-LightItalic-webfont.eot);
  src: url(fonts/Roboto-LightItalic-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Roboto-LightItalic-webfont.woff) format('woff'), url(fonts/Roboto-LightItalic-webfont.ttf) format('truetype'), url(fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic) format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url(fonts/Roboto-Bold-webfont.eot);
  src: url(fonts/Roboto-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Roboto-Bold-webfont.woff) format('woff'), url(fonts/Roboto-Bold-webfont.ttf) format('truetype'), url(fonts/Roboto-Bold-webfont.svg#RobotoBold) format('svg');
  font-weight: 700;
  font-style: normal;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
abbr, address, article, aside, audio, b, blockquote, body, caption, cite,
code, dd, del, dfn, div, dl, dt, em, fieldset, figure, footer, form, h1, h2,
h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend,
li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong,
sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
body {
  font-family: "Roboto Regular", Roboto, sans-serif;
  -ms-touch-select: none;
  -ms-user-select: none;
/*  touch-action: none;*/
}
h1 {font-size: 38px; color: #1E5988;}
h2 {font-size: 24px; color: #1E5988;}
h3 {font-size: 18px; color: #1E5988;}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}
html {-webkit-font-smoothing: antialiased;}
li, ul {list-style: none;}
i {font-style: normal;}
b {font-weight: 400;}
.bold i {font-weight: 700;}
script {display: none !important;}
table {border-collapse: collapse; border-spacing: 0; font-size: inherit;}
.hidden {display: none;}
.inline {display: inline-block;}
.block {display: block;}
a, a:hover, a:focus {
  color: #7498bb;
  outline: 0;
  text-decoration: none;
}
a:hover {text-decoration: none;}
.container {width: 90vw;}

[id^=p7_BUT] {  display: none !important;}


/* ----- HEADER ----- */
#EDGE_CONNECT_PROCESS > .Header {
  background-color: #4576A4;
  color: #FFFFFF;
  min-height: 60px;
  vertical-align: middle;
}
#EDGE_CONNECT_PROCESS > .Header .Logo {
  background-image: url("../../images/brand/Logo.png");
  height: 60px;
  margin: 0;
  width: 200px;
}
#EDGE_CONNECT_PROCESS > .Header a,
#EDGE_CONNECT_PROCESS > .Header .MyDetails {
  color: #FFFFFF;
  float: right;
  font-size: 16px;
}
#EDGE_CONNECT_PROCESS > .Header a.edgeConnectDisabled {
  font-weight: 700;
}

.surface .preferencesDropdown {width: 280px;}
.surface .preferencesDropdown a {color: #444 !important;}
.surface .preferencesDropdown img {display: none;}
.surface .preferencesDropdown i.lockOff:after {font-family: "BlueMagic"; font-size: 32px; content: "\e632";}
.surface .preferencesDropdown i.lockOn:after {font-family: "BlueMagic"; font-size: 32px; content: "\e631";}

.PostMenu {float: right !important;}
.PostMenu i.icon {font-size: 32px; line-height: 56px;}
.PostMenu b.caret {display: none;}


body.BrowserWindow.surface {
  background-color: #f2f2f2;
  color: #333;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 46px;
  min-width: 360px;
  max-width: 100%;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body.BrowserWindow.surface[data-section=home] {
  background-color: #fff;
}
/* ----- LOGIN ----- */
div.login {
  background-image: url(../../images/Lifestyle.jpg);
  background-size: cover;
  min-height: 417px;
}
div.login > * {
  margin: 0 auto;
  width: 480px !important
}
div.login h1.loginText {
  color: #fff;
  font-family: "Roboto Light";
  font-size: 28px;
  margin: 15px 0;
  text-align: center;
}
div.login button.Loginbtn {
  margin: 0 auto !important;
  width: 100% !important;
}
/**/
div.login label[for] {
  font-weight: 700;
  margin: 6px 0 -8px 8px;
}
div.login .Switch label[for] {
  margin: 0;
}
div.login input {
  line-height: 28px;
  min-height: 32px;
  opacity: .7;
}
div.login .errorMessage {
  background-color: #f9dad8;
  color: #555555;
  float: left;
  margin-left: 4px;
  padding: 4px 0;
  text-align: left;
  width: 98%;
}
div.login .muted {
  background-color: #fff;
  border: 1px solid #e00;
  color: #d02000;
  font-weight: 700
}
div.login .buildInfo > div {
  font-size: 70%;
  padding: 0 0 0 4px !important
}
div.login .formRow .formAnswer {width: 100% !important;}
div.login .formRow .formAnswer .formItem {width: 100% !important;}
div.login .BMButton {width: 100%;}
.demoLink {font-size: 18px;}
.demoLink a {text-decoration: underline; color: #fff;}

.Login-Lang {
  float: right;
  line-height: 60px;
  margin: 0 10px;
}
/**/

/* ----- Icon input ----- */
.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon .BlueMagic {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 26px;
  width: 20px !important;
  margin-left: -2.5px;
  padding: 10px 0;
}

.icon-addon .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px !important;
  float: left;
  border: 1px solid #fff;
}


.surface .Footer .FooterSection {
  max-height: none !important;
  overflow: visible !important;
}
/* ----- Menu Navigation ----- */
.surface #menuIcon {
  cursor: pointer;
  font-size: 36px;
  line-height: 60px;
}
div.nav_menu {
  background-color: #E4E4E4;
  color: #4576A4;
  height: calc(100% - 60px);
  left: -260px;
  min-width: 256px;
  position: absolute;
  top: 60px;
  transition: all 0.5s ease 0s;
  z-index: 10;
}
div.nav_menu.active {
  left: 0 !important;
}
div.nav_menu div {
  float: none !important;
}
/*
div.nav_menu > div > div {
  clear: none !important;
}
*/
#menuShim {
  bottom: 0;
  position: absolute;
  top: 60px;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: -1;
}
#menuShim.active {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
}
ul.navXmenu {
  cursor: default;
}
ul.navXmenu, ul.navXmenu ul, ul.navXmenu li {
  font-family: 'Roboto Light';
  font-size: 24px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul.navXmenu li.active {
  background-color: #fff;
  box-shadow: 0 4px 3px -3px rgba(0,0,0,0.5);
}
ul.navXmenu li:hover {
  background-color: #fff;
}
ul.navXmenu > li {
  border-bottom: 1px solid #ccc;
  float: left;
  line-height: 60px;
  padding: 0 16px;
  width: 100%;
}
ul.navXmenu > li > i.icon.menucaret {display: none;}
ul.navXmenu li[onclick] {cursor: pointer;}

div.nav_menu.active ul.navXmenu > li > ul {
  display: none;
}

ul.navXmenu > li > ul {
  background-color: #E4E4E4;
  display: none;
  font-size: 16px;
  line-height: 20px;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  width: 100%;
  transition: all 0.5s ease 0s;
}
ul.navXmenu > li.active > ul {
  display: inline-block;
}
ul.navXmenu > li > ul > li {
  background-color: #E4E4E4;
  border-right: 1px solid #fff;
  border-top: 1px solid #cccccc;
  float: left;
  font-size: 20px;
  line-height: 30px;
  max-width: 25%;
  padding: 10px 0;
  position: relative;
  text-align: center;
}
ul.navXmenu > li > ul > li > ul {
  background-color: #E4E4E4;
  border: 1px solid #cccccc;
  bottom: 49px;
  display: none;
  position: absolute;
  width: 100%;
}
ul.navXmenu > li > ul > li > ul.active {
  display: block;
}
ul.navXmenu > li > ul > li > ul > li {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  padding: 10px 20px;
  text-align: left;
}
ul.navXmenu li span > i.icon:before,
ul.navXmenu > li > ul > li > i.icon {
  font-size: 32px;
  margin-right: 10px;
  vertical-align: middle;
}
#ITM_T_summary > i.icon:before {content: "\e6b6";}
#ITM_T_analysis > i.icon:before {content: "\e623";}
#ITM_T_orders > i.icon:before {content: "\25";}
#ITM_T_proposal > i.icon:before {content: "\56";}
#ITM_T_reports > i.icon:before {content: "\50";}
#ITM_T_marketinfo > i.icon:before {content: "\46";}
#ITM_T_watchlist > i.icon:before {content: "\58";}
#ITM_T_inbox > i.icon:before {content: "\36";}
#ITM_T_sentmessages > i.icon:before {content: "\e668";}
#ITM_T_newmessage > i.icon:before {content: "\e664";}

.navXmenu > li > span:before {
  color; #4576A4;
  font-family: 'BlueMagic';
  font-size: 30px;
  padding: 0 10px;
}
#MNU_T_home > span:before {content: "\34";}
#MNU_T_client > span:before {content: "\7e";}
#MNU_T_portfolios > span:before {content: "\43";}
#MNU_T_markets > span:before {content: "\42";}
#MNU_T_messages > span:before {content: "\36";}

/* ----- panels ----- */
.surface .contact-panel {
  border-radius: 0;
}
/* ----- Sections ----- */
.card {
  background-color: #ffffff;
  border: 0 none;
  box-shadow: none !important;
/*  margin: 10px;
  padding: 10px;*/
  position: relative;
  transition: box-shadow 0.25s ease 0s;
}

.headerLabel {
  font-family: "Roboto Regular", "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #444;
  text-transform: uppercase;
}
.surface .RMHomepageLeftColumn {overflow-y: auto; height: auto; margin-top: 0;}
.surface .RMHomepageRightColumn{margin-top: 0;}

.surface .hp_Monitoring {
  max-height: 170px;
  overflow: auto;
}


/* ----- General ----- */
.floatLeft {float: left !important;}
.floatRight {float: right !important;}

/* ----- Tables ----- */
.BMTableContainer {background-color: #eee;}
.BMTable .show {}
.BMTable .expand {}

.tableContainer {
  -ms-touch-select: none;
  max-height: 75vh !important;
  overflow: auto !important;
  -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
.tableContainer > table {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
  empty-cells: show;
  line-height: 20px;
  width: 100%;
}
body.WebKit .tableContainer > table {
  width: 99.999%;
}
/* table header */
.tableContainer thead {
  background-color: #FFFFFF;
  color: #333333;
}
.tableContainer thead th {
  background-color: #f8f8f8;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  padding: 2px 4px;
}
.tableContainer thead th[onclick] {
  color: #333;
  cursor: pointer;
}
.tableContainer thead th[onclick]:hover {
  background-color: #f0f0f0;
}
.tableContainer.sortY th > i.icon:before {
  font-family: 'BlueMagic';
}
.tableContainer table thead th {
  font-size: 14px;
  line-height: 20px;
}
table th.asc > i.icon:before,
table th.desc > i.icon:before {
  content: "\78";
  float: right;
  font-size: 14px;
  line-height: inherit;
  margin-left: -16px;
}
th.icon, td.boolean {width: 26px !important;}
table th.asc > .th-inner + i.icon:before,
table th.desc > .th-inner + i.icon:before {
  margin-top: -5px;
  z-index: 10;
}
/* table body */
.tableContainer tbody td {
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 20px;
  padding: 4px;
  text-align: left;
  white-space: nowrap;
}
.tableContainer tbody tr:hover td {
  background-color: #fff;
}
.tableContainer tbody tr td[class*="col-"],
.tableContainer thead tr th[class*="col-"] {
  display: table-cell;
  float: none;
  width: auto;
}
.tableContainer td i {font-style: normal; font-variant: normal; text-transform: none;}
.tableContainer td i.Text {
  text-align: left;
}
.tableContainer td.limit i.Text {
  display: inline-block;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.tableContainer tbody td.Date,
.tableContainer tbody td.Decimal {
  text-align: right;
}
.tableContainer table td.icon,
.tableContainer table td.boolean,
.tableContainer table th.boolean {
  text-align: center;
  vertical-align: middle;
  width: 32px !important;
}

table.treetable span.indenter a {
  font-size: 28px;
  line-height: 44px;
  outline: 0;
}
table.treetable span.indenter a:before {
  font-family: "BlueMagic";
  vertical-align: middle;
}
table.treetable tr.collapsed span.indenter a:before {
  content: "\69";
}
table.treetable tr.expanded span.indenter a:before {
  content: "\70";
}


div#C1__FMT_F56EA957A5CE625A179185,
div#C1__FMT_52DC0777B95F89E0432143 {
  height: auto !important;
  margin-bottom: 60px;
}


/* alphaRow */
.tableContainer tbody tr.alphaRow td {
  background-color: #eee;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px !important;
  padding: 0 8px;
}

#TBL_PORTFOLIOS.flags tbody tr {
  box-shadow: none;
  display: inline-table;
  min-width: 200px;
  width: auto;
}
/**/
.surface .portfolioflags tbody tr {
  border-radius: 0;
  box-shadow: none;
  display: inline-table;
  min-width: 200px;
  width: auto;
}
.surface .portfolioflags tbody tr {
  height: 52px;
}
.portfolioflags tbody tr td:first-child {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3rem;
}
.surface .portfolioflags tbody tr td.serviceType {
  margin-bottom: 2px;
}
.surface .portfolioflags tbody tr td.investmentProfile {
  margin-bottom: 0;
}

.surface .csstabs {
  min-height: 550px;
}
.surface .csstabs .csstab .content {
  max-height: 505px;
  overflow: auto;
}


/*.fixed-table-container-inner {max-height: calc(70vh - 30px) !important;}*/

table.portfolioflags {height: 86px;}
.portfolioflags,
.portfolioflags > * {display: inherit !important;}

/* ----- TAP Messages ----- */
div.errorLabel {line-height: 24px;}
div.errorLabel div {font-weight: 700;}
div.errorLabel div.error {color: #dd0000 !important;}
div.errorLabel div.warning {color: #cc6000 !important;}
div.errorLabel div.info {color: #0000dd !important;}
div.errorLabel div.debug {color: #608080 !important;}
div.errorLabel i.icon {margin: 0 8px 0 4px;}
/* ----- start growl ----- */
.growl.growl-notice{background-color:#23c162; color: #fff;}
.growl.growl-large{min-height:90px;}
.growl .growl-title, .growl .growl-message, .growl-icon {float: none !important;}
.growl .growl-title {margin-left: 16px; margin-top: -28px;}
.growl-icon {font-size: 2.5rem !important; margin-left: -2rem !important;}
.growl .icon-error span:before {content: "\e626";}
.growl .icon-warning span:before {font-family: 'TCIB'; content: "\e61d";}
.growl .icon-info span:before {content: "\62";}
.growl .growl-message {margin-top: 1rem;}
/* end growl */


#C3__DATES_SECTION {
  background-color: transparent;
  border: 0 none;
  margin: 0;
  padding: 0;
}
.surface #FMT_EEB35FA467C0437695155 { /* logout popup */
  height: 100px !important;
}

.container {width: 90vw;}

/* ----- Buttons ----- */
.surface .BMButton {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  line-height: 44px;
  min-width: 120px;
  max-width: 500px;
  padding: 0 15px;
  text-align: center;
  width: auto;
}
.BMButton.Action {
  background-color: #4576A4;
  border: 1px none;
  color: #fff;
}
.BMButton.Compact {
  min-width: 80px;
  max-width: 500px;
  padding: 0 10px;
}
.BMButton.Mini {
  min-width: 40px;
  padding: 0 10px;
  width: 44px !important;
}
.BMButton:hover {
  background-color: #f2f2f2;
}
.BMButton.Action:hover {
  background-color: #2a4865 !important;
}
.BMButton.Minimal {
  background-color: #f2f2f2 !important;
  box-shadow: none;
  color: #243e56;
  font-family: "Roboto Regular";
  min-width: 60px;
  max-width: 500px;
  padding: 0 10px;
  text-transform: uppercase;
  max-height: 34px;
  line-height: 34px;
  width: auto;
  white-space: nowrap;
}
.BMButton.Minimal:hover {
  background-color: #e8e8e8 !important;
}
.BMButton:disabled {
  background-color: #f2f2f2;
  color: #999;
}
.BMButton.Action:disabled,
.BMButton.Action:disabled:hover {
  background-color: #f2f2f2 !important;
}

.ui-corner-top, .ui-corner-bottom, .ui-corner-all,
.BMButton {
  border-radius: 0 !important;
}
.GroupButtonsRight > div {
  float: right !important;
  width: auto !important;
}
.GroupButtonsRight > div .BMButton {
  margin: 0 2px;
}
.BMButtonBar {
  text-align: right;;
}
.BMButtonBar > div {
  width: auto !important;
  float: none !important;
  display: inline-block;
  margin: 0 2px;
  vertical-align: top;
}
.BMButtonBar fieldset > div {
  margin: 0 2px;
  vertical-align: top;
}

/* ----- Forms ----- */
.formRow {
  line-height: 38px;
  margin-bottom: 4px;
}
.formQuestion {
  line-height: 38px;
}
.formQuestion.small {
  width: 20% !important;
}
.formQuestion label {
  line-height: 38px;
  text-transform: none;
}
.formQuestion span.required {
  color: #c00;
  font-weight: 700;
  padding: 0 8px;
}

.formAnswer {
  line-height: 38px;
  white-space: nowrap;
}
.formAnswer.large {
  width: 77% !important;
}
.formAnswer.large .formItem {
  width: 100% !important;
}
.formItem {
  display: inline-block;
  border: 1px solid #8DB0CF;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  line-height: 30px;
  opacity: 1;
  padding: 3px 5px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 70%;
}
.formItem:disabled {
  background-color: #eee;
  cursor: default;
}
.formItem:read-only {
  border: 1px none;
  background-color: transparent;
  color: #333;
  cursor: default;
}
.formItem:focus {
  border-color: #4576A4
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.formItem:invalid {
  border-color: #c00;
}
input.formItem {
}
input.formItem.date-picker {
  border: 1px solid #8DB0CF !important;
  padding-right: 50px;
  min-width: 150px !important;
}
input:disabled.date-picker.formItem, input:disabled.time-picker.formItem {
  min-width: 150px !important;
}
select.formItem {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 1px 25px 1px 5px;
  background: #fff url("../../images/selector.png") no-repeat scroll 97% center;
}
select.formItem::-ms-expand {
  display: none;
  visibility: hidden;
}

select.formItem option {
  line-height: 30px;
  padding: 6px 5px;
}
select.formItem option:selected {
  background-color: #4576A4;
  color: #fff;
}
input#FilterField.active + i.icon {
  display: inline;
  margin-left: -25px;
}
input#FilterField + i.icon {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  vertical-align: middle;
}
span[id$=ERRORMESSAGE] {
  color: #e22310; /*#e86a5d;*/
}
.ui-datepicker select option {
  padding: 8px 2px;
}

/* Switch */
.formRow.Switch fieldset {
  display: block !important;
}
div.formItem.Switch {
  border: 0 none;
  float: left;
  display: inline !important;
  margin: 0;
  max-width: 100px;
}
div.formItem.Switch input[type="radio"] {
  display: none;
}
div.formItem.Switch input[type="radio"] + label[for] {
  background-color: #eee;
  color: #333;
  padding: 2px 8px;
  text-align: center;
  width: 100%;
}
div.formItem.Switch input[type="radio"]:checked + label[for] {
  background-color: #4576A4;
  color: #fff;
}




span.formItem {
  border: 0 none;
  box-shadow: none;
  padding: 6px 4px 6px 5px;
}

img.ui-datepicker-trigger {
  display: none !important;
}
i.icon.ui-datepicker-trigger {
  font-size: 36px;
  margin-left: -52px;
  padding: 2px 8px;
  vertical-align: middle;
  z-index: 10;
}

input.formItem.time-picker:disabled + img + i.icon.ui-datepicker-trigger, input.formItem.date-picker.hasDatepicker:disabled + img + i.icon.ui-datepicker-trigger {
    background-color: #eee;
    cursor: default;
    display: none;
}

i.icon.ui-datepicker-trigger:hover {
  color: #4576A4;
}
.listRow {border-bottom: 1px solid #888; line-height: 38px;}
.listRow .formAnswer {font-weight: 700; text-align: right !important;}
.listRow .formAnswer span[id]{word-wrap:break-word;white-space:normal;}

/* Banner */
.Banner {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 10px;
  padding: 10px;
}
.Banner .formQuestion,
.Banner .formQuestion label {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.Banner .formAnswer {
  line-height: 20px;
  white-space: nowrap;
}
.Banner .formAnswer .formItem {
  height: 26px;
  width: 100%;
}
.Banner div[id^=row_HEAD] {
  display: block;
}


#C3__FMT_03F2C5E0D9634DEF125495 {width: 66.66% !important}
#C3__COL_03F2C5E0D9634DEF125520 {margin-left: 60px;}
#C3__p4_QUE_22BC91116F5F7C3B511902 {margin-left: 15px;}




.hp_Monitoring > ul, .cul {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  clear: both;
  cursor: pointer;
  display: block;
  font-size: 14px;
  list-style: outside none none;
  margin-bottom: 12px;
  max-width: 90%;
  padding: 0;
  vertical-align: top;
}
.hp_Monitoring > ul li, .cul li {
  font-size: 14px;
  margin: 0px;
  padding: 4px 2px;
}
.hp_Monitoring > ul li i, .cul li i {
  border-radius: 4px 0 0 4px;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 8px;
  width: 65%;
}
.hp_Monitoring > ul li:before, .cul li:before {
  color: #2c3e50;
  content: "\e632";
  font-family: 'TCIB';
  font-size: 20px;
  margin: 0 8px;
  vertical-align: middle;
}
.hp_Monitoring > ul li.active:before, .cul li.active:before {
  content: "\e631";
  margin-right: 5px;
}
.hp_Monitoring > ul li[data-count]::after,
.monCat[data-count]::after {
  border-radius: 0 4px 4px 0;
  content: attr(data-count);
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-left: -1px;
  padding: 8px 0;
  text-align: center;
  width: 25px;
}
.cul li i, .cul li[data-count]::after {
  background-color: #34495E;
  color: #fff;
}
.cul li.active i, .cul li[data-count].active::after {
  background-color: #2C3E50;
}
.hp_Monitoring > ul li i, .hp_Monitoring > ul li[data-count]::after {
  background-color: #95A5A6;
  color: #fff;
  white-space: nowrap;
}
.hp_Monitoring > ul li.active i, .hp_Monitoring > ul li.active[data-count]::after {
  background-color: #7F8C8D;
}
#hp_search_count {
  float: left;
  margin: 6px 12px;
  text-transform: none;
}
#hp_search1 {
  display:block;
  margin: 6px 2px;
}
#hp_search1 b {
  text-transform: none;
  float: left;
}
#hp_search1 b[data-moni],
#hp_search1 b[data-monc] {
  border-radius: 4px;
  color: #fff;
  cursor: default;
  font-weight: 700;
  margin: 2px;
  padding: 8px;
}
#hp_search1 b i.icon{
  cursor: pointer;
  margin-left: 8px;
}
#hp_search1 b[data-moni] {
  background-color: #7F8C8D;
}
#hp_search1 b[data-monc] {
  background-color: #2C3E50;
}

#hp_search_count + span {
  float: right;
  position: relative;
}
input.FilterField {
  padding-right: 30px;
}
input.FilterField + i.icon {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  margin-left: -20px;
  position: absolute;
  right: 5px; top: 4px;
  vertical-align: middle;
}
input.FilterField.active + i.icon {
  display: inline;
}
input::-ms-clear {
  display: none;
}
#AssetFilters ul {
  display: inline-block;
  list-style: outside none none;
  margin: 0 8px;
  padding: 0;
}
#AssetFilters ul > li {
  background-color: #048;
  border-radius: 6px;
  color: #eee;
  display: inline-block;
  font-weight: 700;
  margin: 0 2px 4px;
  padding: 4px 8px;
}
#AssetFilters ul > li[data-col='7']{background-color:#34495E;}
#AssetFilters ul > li[data-col='8']{background-color:#95A5A6;}
#AssetFilters ul > li[data-col='9']{background-color:#1ABC9C;}
#AssetFilters ul > li i.icon{cursor: pointer; margin-left: 8px;}
#FilterResults {display: block; font-size: 80%;}
#FilterResults i {font-style: normal;}


/*.ui-dialog {
  min-width: 400px;
  min-height: 250px;
}
.ui-dialog .ui-dialog-content {
  min-height: 150px !important;
}*/


/* ----- jcarousel - changes to override ios.css ----- */
.surface .jcarousel {height: auto !important; overflow-x: auto !important; width: 100% !important;}
.surface .jcarousel > ul {white-space: nowrap; position: relative;}
.surface .jcarousel > ul > li {display: inline-block; float: left !important; padding: 0;}
.surface .jcarousel-pagination {display: none;}
.surface .jcarousel label, .surface .jcarousel span {white-space: normal;}

/* ----- hslider ----- jcarousel replacement for Surface ----- */
.hslider {
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  -ms-scroll-chaining: none;
  -ms-overflow-style: scrollbar; /*-ms-autohiding-scrollbar;*/
  height: auto;
  overflow: auto;
  width: 100% !important;
}
.hslider > ul {white-space: nowrap;}
.hslider > ul > li {
  display: inline-block;
  float: left !important;
  padding: 0;
}
.notouch {
  -ms-touch-action: none;
  -ms-pointer-events: none;
  touch-action: none;
  pointer-events: none;
}

/* alphaRow */
.tableContainer tbody tr.alphaRow td {
  background-color: #eee;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px !important;
  padding: 0 8px;
}

/* checkbox icon replacement */
.formAnswer div.formItem.CheckBoxIcon,  div.formItem.CheckBoxIcon {
  border: 0 none;
  box-shadow: none;
  display: inline-block;
  margin: 0 -1px;
  padding: 0 !important;
  width: auto !important;
}
.CheckBoxIcon input[type="checkbox"] {
  margin: 10px 10px 0 -15px;
  opacity: 0;
}
.CheckBoxIcon input[type="checkbox"]:checked {
  margin: 10px 7px 0 -15px;
}
.CheckBoxIcon::before {
  content: "\e632";
  font-family: 'BlueMagic' !important;
  font-size: 20px;
  vertical-align: middle;
}
.CheckBoxIcon.checked::before {
  content: "\e631";
}


body[data-section=client] i.icon.phone{vertical-align: text-bottom;}

.surface div.tableContainer.fixed-table-container {max-height: auto !important;}
.surface[data-section=home] .fixed-table-container-inner {max-height: 71vh !important;}
.surface[data-section=assets] .fixed-table-container-inner {max-height: 58vh !important;}
.surface[data-section=operations] .tableContainer {max-height: 67vh !important;}
.surface[data-section=accountOp] .tableContainer {max-height: 60vh !important;}
.surface[data-section=compliance] .tableContainer {max-height: 66vh !important;}
.surface div#C3__p1_TBL_1C8A20965C8BB11F4306 .tableContainer {max-height: 410px !important;} /* proposal step: orders */
.surface div#C3__FMT_A0BCE96466AB15B7157160 {height: auto !important;}
.surface div#C3__FMT_F56EA957A5CE625A179185 {height: auto !important;}    /* compliance */
.surface div#C3__FMT_881915D2FFA86865234279 {height: auto !important;}    /* operations */
.surface div#C3__FMT_34A2217227128C90181750 {max-height: 560px !important; overflow: auto;} /* account movements */
.surface div#C3__FMT_B4411CC8F8BA49F7185631 {height: 500px;}
.surface div#C3__FMT_0C55BEB8A47FD29F546881 {height: 460px !important;}
.surface div#C3__FMT_8C83F2A84F2E08AB221947 {height: auto !important;}
.surface div#C3__p4_QUE_3F9A64EE508E5195883181 span.formItem {padding:0 !important;}
.surface div#C3__PROPOSAL_INFORMATION_POPUP {height: 250px !important;}
.surface div#C3__PROPOSAL_CANCEL_POPUP {height: 170px !important;}
.surface div#C3__ORDER_CANCEL_POPUP {height: 170px !important;}  /* TO VERIFY */
.surface div#C3__FMT_FECC55A946FE3DB762925 {height: 180px !important; width: 350px !important;} /* ptcc order cancel */
.surface div#C6__C1__FMT_D07B8736FCFDDC41525137 {height: auto !important;}
.surface div#C6__C1__FMT_2C39568ECD07ED9B208550 {height: auto !important;}
.surface div#C6__C1__FMT_2C39568ECD07ED9B209611 {height: auto !important;}
.surface div#C5__C1__FMT_D07B8736FCFDDC41525137 {height: auto !important;}
.surface div#C5__C1__FMT_2C39568ECD07ED9B208550 {height: auto !important;}
.surface div#C5__C1__FMT_2C39568ECD07ED9B209611 {height: auto !important;}
.surface div#C5__FMT_205D99FAB49FEAAC249241 {height: auto !important;}

.surface .hslider > ul > li.ptcc {padding: 0 5px !important;}
.surface .ptcc .tableContainer {max-height: 600px !important;}
.surface .ptcc div#C3__C1__FMT_D07B8736FCFDDC41525137,      /* proposal step: compliance */
.surface .ptcc div#C3__C1__FMT_2C39568ECD07ED9B208550 {height: 380px;}
.surface .ptcc div#C3__C1__FMT_2C39568ECD07ED9B209611 {height: 380px;}
.surface div#C6__FMT_881915D2FFA86865234279 {height: auto !important;}
.surface div#C5__FMT_881915D2FFA86865234279 {height: auto !important;}
.surface div#C6__FMT_8C83F2A84F2E08AB221947 {height: auto !important;}
.surface div#C5__FMT_8C83F2A84F2E08AB221947 {height: auto !important;}

.surface div#p4_BUT_2C42CE3C472EB0A91546443 {width: 97% !important;}
.surface div#p4_BUT_2C42CE3C472EB0A91546443 a {width: 100% !important;}
.surface div#p4_BUT_2C42CE3C472EB0A91546453 {width: 97% !important;}
.surface div#p4_BUT_2C42CE3C472EB0A91546453 a {width: 100% !important;}

.surface .marketsFlags {height: 132px; width: 99.3%;}
.surface fieldset#GROUP_FS_QUE_2C42CE3C472EB0A9958366 {display: block !important;}
.surface div#p4_BUT_2C42CE3C472EB0A9958432 {float: right;}

.surface .formItem.instrumentsContainer {border: 0 none !important;}
.surface .instrumentsInputfield {border-color: #8DB0CF !important; max-height: 38px;}

.progressBar .step:before,
.progressBar .step:after,
.progressBar .active .step:before,
.progressBar .active .step:after {
	bottom: 16px;
}
.sectionHeaderTitle .progressBar .step:before,
.sectionHeaderTitle .progressBar .step:after,
.sectionHeaderTitle .progressBar .active .step:before,
.sectionHeaderTitle .progressBar .active .step:after {
	bottom: 22px;
}

.matrixContainer .xtt {
  background-color: rgba(249, 249, 249, .92); /* #f8fcff;*/
  border: 1px solid #3498db; /*#789;*/
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin: 2px;
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.matrixContainer .xtt div {margin:0; padding:0; line-height: 16px; white-space: nowrap;}
.matrixContainer .xtt .head {font-weight: 700; margin-bottom: 4px; white-space: pre-wrap;}
.matrixContainer .xtt .data i {font-style: normal;}

input.slideritem {
  background-color: transparent;
  border: 0 none;
}
.surface div.slider + div>label.SelectedStrategies_Level {
  margin-left: 233px !important;
}

.MessagesFormCol {
    width: 99%;
}
.AddReceipientCol {
    width: 1%;
    margin-top: 10px;
    margin-left: -10px;
}
.ClearAllSection{
   margin-right: 36px;
}

.textarea b{
  font-weight:bold !important;
}
.advancedFilters button {
  top: -16px;
  position: relative;
}
div#C5__C1__FMT_815339CA4FA38F3D242193 {
  height: auto !important;
  padding: 10px;
}
.IP_gen_Report {
  margin-left: 438px;
}
@media (min-width: 1280px) {
  @-ms-viewport {width: 1280px;}
  @viewport {width: 1280px;}
}

#C5__p4_QUE_005EC747111DBF3F231075,
#C5__p4_BUT_2C42CE3C472EB0A9958432,
.dashboard-fixer {
  position: relative;
  top: -18px;
  margin-left: 40px;
}
body[data-section='home'] .BMButton.Action:hover {background-color: #E74C3C !important;}

body.surface .progressBar .step:before,
body.surface .progressBar .step:after,
body.surface .progressBar .active .step:before,
body.surface .progressBar .active .step:after {
  bottom: 14px;
}
body[data-section='investmentprofile'] .jcarousel {
  min-height: 320px;
}
body[data-section='investmentprofile'] .jcarousel > ul {
/*  left: 0 !important;*/
}





table.ChartLegend th, table.ChartLegend td {
  font-size: 16px !important;
}

table.ChartLegend thead th.Date,       /* handling edgeConnect default table cell alignment */
table.ChartLegend thead th.Decimal,
table.ChartLegend tbody td.Date,
table.ChartLegend tbody td.Decimal,
table.ChartLegend tfoot td.Date,
table.ChartLegend tfoot td.Decimal {
  text-align: right;
}
table.ChartLegend tr.totals td {
  font-weight: 700;
}
table.ChartLegend tbody td {
  border-top: 0 none;
  line-height: 24px;
}
table.ChartLegend thead th {
  background-color: transparent;
  padding: 6px 2px;
}
table.ChartLegend .ui-slider {
  display: inline-block;
}
table.ChartLegend .ui-slider .ui-slider-range.ui-widget-header.ui-slider-range-min {
  background: 0 none;
}
table.ChartLegend .ui-slider.ui-disabled .ui-slider-handle {
  display: none;
}
table.ChartLegend .ui-slider {
  border: 1px solid #ccc;
  border-radius: 0;
}
table.ChartLegend .ui-slider .ui-slider-handle {
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: -0.4em;
  opacity: 0.85;
  width: 10px;
}
table.ChartLegend .slider-marker {
  width: 60px !important;
}
table.TAPalike.ChartLegend tbody td {
  padding: 0 5px;
}
table.TAPalike.ChartLegend thead th,
table.TAPalike.ChartLegend tfoot td {
  font-size: 1.4rem;
}
table.TAPalike.ChartLegend tfoot td {
  padding: 10px;
}
button:focus {outline: 0;}

.italicDimmed ,
table.ChartLegend.TAPalike.addTotalRow thead th.italicDimmed *,
table.ChartLegend.TAPalike.addTotalRow tfoot td.italicDimmed {
  color: rgba(0,0,0,0.4) !important;
  font-style: italic;
  font-weight: 600;
}
td.slider.bold1 .slider-marker {font-weight: 700;}

.clarificationLayer {
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  right: 85px;
  top:-85px;
  z-index: 1;
  border: 1px #ccc solid;
}
