.BrowserWindow { 
  margin:0px; 
}
h1, h2, h3, h4, h5, h6 {
  white-space: pre-line;
}

#EDGE_CONNECT_PHASE,  .tc-footer-container {
  opacity: 1;
}

#EDGE_CONNECT_PROCESS .ui-dialog-titlebar-close {
  font-size: 0;
}
.ui-dialog-titlebar.ui-widget-header .ui-icon {
  background-image: url(../../templates/widgets/com.temenos.theme/jquery-ui/css/Temenos/images/ui-icons_ffffff_256x240.png);
}

.tc-tab-header:hover {
  cursor: pointer;
}

.tc-content-area, .tc-table-wrapper {
  clear: both;
}

div.tc-popup-fixed {
  height: 60px;
}
.tc-accordion-menu a:only-child:after {
  content: "";
}
.ie .tc-truncated-item{
  display: inline-table !important;
}
.ms-edge .tc-truncated-item{
  display: inline-table !important;
}
.tc-popup .tc-menu-scroll-container {
  height: auto;
  max-height: 80vh;
}

.tc-med:not(.ios) #EDGE_CONNECT_PROCESS .tc-card .tc-chip .tc-icon, 
.tc-med:not(.ios) .tc-chip .tc-icon {
    /*top: 4px;*/
}
.tc-card div.tc-accordion .tc-accordion-pane {
  margin: 0;
}

fieldset+.tc-help-icon {
  top: 2px;
}
fieldset .ecDIB { vertical-align: middle; }
.tc-progressbar-sep {
  display: none;
}

.tc-date-wrapper {
  display: inline-block;
  margin-right: 0.4rem;
}

.tc-scroll-to-top, .tc-scroll-to-bottom {
  position: fixed;
}
.vert.back {
  bottom: 0;
  top: auto;
}
#viewport {
  overflow: visible
}

.tippy-popper {
  font-family: "TC-Regular"
}
.tippy-tooltip {
  background-color: #505050 !important;
}

div[aria-describedby="ThemeConfigHelp"] {
  z-index: 2000 !important
}

.hasDatepicker {cursor: pointer;}

.rdt:before {
   content: " ";
   position: absolute;
   background: url(../../images/icons/calendar.png);
   background-size: contain;
   height: 1.5rem;
   width: 1.5rem;
   top: -0.2rem;
   right: 0.6rem;
   pointer-events: none;
}

/* hierarchy */
.jtk-connector path {
  stroke: #003e75;
  stroke-width: 2px;
}