body {margin: 0px;}
.clearBoth {clear:both;height:0px;overflow:hidden}
.hidden {display:none}
.invisible {visibility:hidden}

.wsc-Login-Logo {margin-top: 10px}
.wsc-Login-Header {font-size: 1.6em;color: #316DA2; padding: 8px}
.wsc-Login-Section {margin: 80px auto 0;max-width: 96%}

.wsc-Footer-Header:before {cursor:pointer;font-family:'T-Fonticons';font-size:1.5rem;margin-right:10px;vertical-align:bottom}

.wsc-footer-social {text-align: center}
.wsc-Footer-Links:before {content:"\c1";}
.wsc-Footer-Contact:before {content:"\36";}
.wsc-Footer-Social:before {content:"\44";}
.wsc-Footer-Twitter:before {content:"\42";}

.wsc-FooterLinkItem {padding: 4px 0;}
.wsc-FooterLinkItem button {background-color: transparent;border: 0 none;color: #fff;outline:0 none;}
.wsc-FooterLinkItem button:before {content: "\6a";font-family: T-Fonticons;font-size: 16px;margin-left: 4px;margin-right: 16px;transition: margin 0.2s ease 0s;}
.wsc-FooterLinkItem button:hover:before {margin-left: 16px;margin-right: 4px;}
.wsc-FooterLinkItem button:hover {cursor:pointer;}
.wsc-FooterSubTitle {padding: 8px 0 0; font-size: 1.2em;}
.wsc-FooterEmail:hover {cursor:pointer;text-decoration:underline;}

.wsc-floatRight {float: right;}
.wsc-corporate-color {color:#003e75 !important;}
.wsc-corporate-bgcolor {background-color:#003e75 !important;}

th.Date, td.Date,
th.Number, td.Number,
th.Decimal, td.Decimal {
  text-align: right !important;
  white-space: nowrap;
}

.tc-tab-section:not(:first-child) {margin-top: -20px;}
.tc-tab-header-wrapper.wsc-buttontab-right {float: right;}
.wsc-flat {height: 1.5rem;padding-bottom: 1rem}
.wsc-BasketContainer {position: absolute;right: 0;}
.wsc-BasketContainer #BUT_Basket i.icon {
  background-color: #999;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
}
.wsc-BasketContainer #BUT_Basket i.icon + .caret,
.wsc-BasketContainer #BUT_Basket i.icon + b.icon {
  display: none;
}
.wsc-BasketContainer .dropdown-menu {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  left: -335px;
  min-width: 375px;
  top: 45px;
}
.wsc-BasketContainer .sectionHeaderTitle {
  background-color: #999;
  border-radius: 15px 15px 0 0;
  color: #ffffff;
  float: none !important;
  margin: 0 -5px;
  padding: 0 10px;
}
.wsc-BasketContainer table {
  margin: 8px 0 0;
}
.wsc-BasketContainer table td {
  border: 0 none;
  background-color: #f1f1f1;
  line-height: 16px;
}

.wsc-AUM {text-align: right;}
.wsc-AUM.tc-icon-position-before > span::before {margin-left: -4rem;}
.wsc-icon-invert {
  background-color: #999;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
}
.wsc-border-right {padding-top: 0.8rem;border-right: 1px solid #ccc;}
.tc-lined-table.tc-grouped-column-table td {vertical-align: middle;}
.tc-compact .tc-lined-table.tc-grouped-column-table td span.tc-form-control {min-height: 1rem; padding: .2rem .5rem;}
.tc-compact .tc-lined-table.tc-grouped-column-table td fieldset span.tc-form-control {padding: .2rem 0 .2rem .1rem;}
.tc-table tbody tr.hilite td {background-color: #E2EBF3;font-weight:700}
.tc-table tbody tr.lowlite td {color: #888;}

.growl-icon.icon-error span:before{content: "\64";}
.selectedinstrument {white-space: nowrap;padding: 1px 3px 3px !important;}

/* Notifications Select All */
.tc-compact div.tc-checkbox.tc-checkbox-horiz {padding: 0;min-width: 1rem;}
.tc-compact div.tc-checkbox.tc-checkbox-horiz input[type="checkbox"] + label {margin-right:0;}
.tc-compact div.tc-checkbox.tc-checkbox-horiz input[type="checkbox"] + label>span {font-size:0;}
.tc-compact .tc-normal-icon-with-text.tc-icon-position-after:not(.tc-button-color) > span {padding-right: 1rem;}
.tc-compact .tc-normal-icon-with-text.tc-icon-position-after:not(.tc-button-color) > span::before {font-size: 2rem;}
.tc-compact .tc-normal-icon-with-text.tc-icon-position-before:not(.tc-button-color) > span::before {font-size: 2rem; margin-left: -2rem;}
.tc-compact .tc-normal-icon-with-text.tc-icon-position-before:not(.tc-button-color).space-between span::before {margin-left: -2.4rem;}

/* Notifications table */
.th-hidden {font-size: 0 !important;}
table td input[type=checkbox] + label>span {display:none}
tr.Message_Read_True td {font-weight:500 !important}
tr.Message_Read_False td {font-weight:700}
/* Notification Details */
.wsc-align-top .tc-question-part {margin-top: 0.3rem}

div.tc-table-answer.exec {cursor:pointer; width:100%;min-height: 35px;}
div.tc-table-answer.exec:hover {background-color: #f2f2f2; border-radius: 0.2rem;}
div.tc-table-answer.exec span {margin:.2rem;}
div.tc-detail-section div.tc-table-answer.exec:hover {background-color: #d8d8d8;}
div.exec fieldset span.tc-form-control {padding-right: 0;}
div.exec fieldset > div {margin: 0 -2px;}
.tc-table-question>.tc-table-answer.exec .tc-icon {margin-bottom:0;margin-top:-3px;}

.TopRightInfoSection-container div:not(id) {display: inline-block;}
div.tc-popup {min-width: 320px;}
#ORGA_flyout.tc-popup {min-width: 240px;line-height:2rem;}
#SETTINGS_POPUP.tc-popup {min-width: 260px;}

.tc-profile-section {min-height:auto;padding:0 1rem;}

/* -- Start Overriding defaults -- */
body{height:auto}
div.tc-screenMask+div {box-shadow: 2px 2px 4px rgba(0,0,0,0.3);}
.tc-breadcrumb {margin-top:1rem;/*font-size: 1rem;*/}
.mega-nav-menu a.activemenuitem {background-color: #003e75; border-top: 1px solid #175893}
.mega-nav-menu ul.cd-primary-nav>li>a.activemenuitem {background-color:#1765AA}
.cd-primary-nav .cd-secondary-nav a:hover {background-color: #003e75 !important;}
.tc-lined-table th {border-bottom: 1px solid #dddddd;} /* to be removed */
.tc-header-row-style th {background-color:#F2F2F2} /* to be removed */
.tc-mand-part:not(:empty) {font-weight:700;/*color:#C00*/}
.tc-footer-column-title {font-size:1.2rem;margin-bottom:1em}
.tc-box-on .responsive-section {margin:0 auto}
.tc-button {min-height:2.8rem; display: inline-flex;}
.tc-menu-icon > span::before {font-size: 2rem}
.tc-accordion-menu ul li a{border-left:0 none}
.cd-primary-nav .tc-truncated-item {padding-left: 5px !important;}
.cd-secondary-nav {padding-bottom:4px !important}
.cd-secondary-nav > li {margin-top:4px !important}
.cd-secondary-nav .tc-menu-icon {top:-0.8rem !important}
.cd-secondary-nav > li {min-width: auto !important;}
.cd-secondary-nav ul .tc-menu-icon > span {top: 12px;}
.tc-mm-leaf .tc-menu-icon > span::before {font-size:1.3rem;}
.tc-card-header {margin-bottom:0.2rem}
.tc-bold {letter-spacing: 0;}

/*.tc-card-title-text {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
.tc-card-header .tc-card-title-text {
  border-bottom: inherit;
  padding-bottom: inherit;
}*/
.tc-card-body .tc-card-header {border-bottom: 1px solid #ddd !important;}
.tc-float-right {float: right !important;}
.tc-card-toolbar.reverse-align .tc-tab-highlight {display: inline-block;}
.tc-info-tile .tc-info-label {padding: .4rem 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}
.tc-table-wrapper .tc-lined-table {padding-right: 1px;}
.tc-table-icon.tc-default-table-action span:before {font-size: 1.6rem !important;font-weight:700}

/*.tc-card-header-icon.icon-information > span::before {color:#316da2}*/
.tc-tab-header, .tc-tab-header-button {border-color: transparent;}
.tc-tab-pane .tc-tab-header .tc-badge, .tc-tab-pane .tc-tab-header-button .tc-badge {top: -1px; right: -1px;}
.tc-table div.tc-checkbox input[type="checkbox"] + label::before {margin-right: auto;}
.responsive-row.tc-normalise-card-heights {display: unset;}
.responsive-row.tc-normalise-card-heights .responsive-column .tc-detail-section{flex:1;height:calc(100%-1rem)}

.tc-checkbox input[type="checkbox"]:checked + label::before {background-color: #fff;color: #444;} /* checkbox look */
.instrCol .tc-checkbox input[type="checkbox"]:checked + label::before {display: contents; font-size: 1.2rem;} /* checkbox position */
.tc-compact .tc-radio input[type="radio"] + label::before {vertical-align: -1px;}
/*table .tc-radio input[type="radio"][checked] + label::before {background-color: #444444;}*/
.tc-table th a>img {right: 0; margin-top: 1em;}
.tc-table th.edgeConnectDisabled {opacity: 1;}
.tc-table .tc-icon.edgeConnectDisabled {opacity:0;}
#EDGE_CONNECT_PROCESS a.tc-button.edgeConnectDisabled {cursor: not-allowed;opacity: 0.5;}
.tc-table-answer.reverse-align {white-space:nowrap}
/*.tc-table th.tc-center-align, .tc-table td.tc-center-align {max-width: 14px;}*/
.tc-compact .tc-icon-position-above > span::before {line-height: 2rem;}
.tc-compact span.tc-select-padding {min-width:auto;}
.tc-compact .tc-card-header-icon.icon-search {top: 0.2rem !important;}
.tc-compact .tc-card-header .tc-popup-button {position: relative;}
.tc-compact .tc-table-nav-item {border-radius: 50%;}
.tc-compact .tc-question-cb-shift.tc-question-filled label {border-radius: 2px;padding: .2rem .4rem;}
.tc-compact .tc-table-icon {font-size: 1.5rem;}
.tc-compact div.tc-radio-toggle input[type="radio"] + label {margin: 0 -1px 0 0;}
.tc-compact .tc-checkbox-vert {min-height: 2rem;}
/* .tc-compact span.tc-form-control {padding: .4rem .5rem;} */
.icon-locate-hollow>span:before,.icon-locate-hollow>label:before{content:"\276"}
.buttonReplacement[disabled] {opacity: 0.3;}
/* -- End Overriding defaults -- */

/* -- Start Enhancing defaults -- */
.tc-empty-message {border: 1px solid #ddd; display: block; margin-bottom: -7px; padding: 0.1rem 1rem;}
.tc-card .tc-detail-section {margin-left: -0.5rem;margin-right: -0.5rem;}
.tc-card-body {padding: 0 1rem;}
.tc-table tbody > tr:hover > td {background-color: #f8f8f8;}
.tc-table td.tc-button-part {text-align: center;}
.tc-table td.reverse-align input {text-align: right;}
.tc-table-icon {height: 2rem;line-height: 2rem;}
.tc-card-header-icon.active > span::before, .tc-card-header-icon.active > label::before {color: #316da2;}
.tc-card-header .tc-float-right .tc-popup-button {margin-top: 4px;}
.tc-compact .table-nav-items {padding-bottom: 1rem;}
.tc-compact .table-nav-items .tc-table-nav-item.current-page {border:2px solid #316da2;color:#316da2;font-weight: 700;}
.tc-compact .tc-lined-table td.tc-icon > div {text-align: center;}
/*.tc-compact .tc-table td.tc-icon {max-width: 30px;}*/

.tc-compact .tc-lined-table td.reverse-align span.tc-form-control, .tc-compact .tc-lined-table td.Decimal span.tc-form-control {display:inline;}
.tc-compact .tc-lined-table td.reverse-align span.tc-form-control + .tc-postfix-part, .tc-compact .tc-lined-table td.Decimal span.tc-form-control + .tc-postfix-part {margin-left: -0.5rem;}
.tc-compact .wsc-table .groupRow td.reverse-align span.tc-form-control + .tc-postfix-part {margin-left: -1rem;}
span.tc-form-control {display:inline;}
span.tc-form-control + .tc-postfix-part {margin-left: -0.6rem;}
.Indices span.tc-form-control {display: inline-block;}

a:focus, input:focus, button:focus, select:focus, textarea:focus {box-shadow:none;}
.Phase_ClientSelection .tc-icon-position-before.tc-icon-font-size-md {padding-left:2rem;}
.Phase_ClientSelection .tc-card-expander {margin-top:0}
.tc-card-expander {background:#eee;}
.tc-card-expander a {color:#316da2;}
.tc-mand-part.readOnly{font-size:0;}
.wsc-smaller {font-size: 0.84rem}
.wsc-divider {border-top: 1px solid #ddd; margin-top: -8px;}
.wsc-divider-0 {border-bottom: 1px solid #ddd; margin: -4px -18px; padding: 0;}

.tc-card-button-container.responsive-row {
  border-top: 1px solid #ddd;
  margin-right: 0px;
  margin-left: 0px;
}
.col-invisible,.tc-col-invisible {visibility:hidden;}
/*.tc-secondary-card-button {background-color: #ccc;border: 1px solid #aaa;color: #444 !important;}*/

button.tc-popup-button {border: 0 none;}
select.tc-auto-width, span.tc-auto-width, td span.tc-auto-width {max-width: 100%;}
.tc-footer-bottom {padding: 0 0 0.3rem; opacity: 0.8;}
.tc-footer-column-title {margin-bottom: 0;}
/* -- End Enhancing defaults -- */

/* --- buttons start --- */
button, button:focus {outline: 0 none;}
a.tc-full-width > span {width: 100%;}
/* --- buttons end --- */

input + span.addon.tc-icon {
  border: 1px solid #ddd;
  background-color: #367ab5;
  color: #fff;
  cursor: default;
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: -12px;
  padding: 0 2px;
  position: relative;
  top: 2px;
}
input + span.addon.active.tc-icon {
  background-color: #0c4374;
}
input + span.addon.tc-icon span:hover:before {
  color: #fff;
}
div.tc-icon.icon-circle-add > input:checked + label {color:#16a93e;}
div.tc-icon.icon-circle-remove > input:checked + label {color:#c0392b;}

div.tc-icon.icon-circle-add > input:checked + label {color: #fff; background-color: #16c93e; padding: 1px 2px 0 1.5px; border-radius: 3px;}
div.tc-icon.icon-circle-remove > input:checked + label {color: #fff; background-color: #e0392b; padding: 1px 2px 0 1.5px; border-radius: 3px;}

.IndicesHeader {margin: 0 -10px;}
.CSR .IndicesHeader {margin: 0 -22px;}
.IndicesHeader span {
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  display: block;
  font-weight: 700;
  margin: 0 -14px 0 -13px !important;
  padding: 0.3rem 0.1rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.CSR .Indices .tc-icon {font-size:0}
.CSR .Indices .tc-icon span {margin-top:-4px}
.CSR .Indices .tc-icon span::before {font-size:1.5rem}

.noProfileDefined {background: #eee; margin: 0.5rem auto; padding: 2rem; text-align: center !important; width: 100%;}
.noProfileDefined {color: #c0392b; font-weight: 700; font-size: 1.2rem;}

.tc-row-flex.align-top {
  align-items: start;
  margin: 1rem 0;
}

.Phase_TapPortfolioSummary .tc-card .tc-detail-section {margin-left:4px;margin-right:4px;padding-bottom:1rem;}

.wsc-table th span[id*="_p2_"], .wsc-table th a + span[id*="_p2_"] {display: none;}

.WMNewNote {
	z-index: 2000 !important;
}

/* ----- Responsive design addons ----- */
@media (max-width:567px) {
.wsc-Login-Section {max-width: 90%;}
.wsc-login-btn {padding: 0 10px;}
.tc-card-header-popout-general.tc-popup {max-width:300px !important;}
.tc-float-left-xs {float: left !important; padding-left: 0px; margin-left: -11px;}
.tc-footer-top div.col-full-xs:not(:last-child) {border-bottom:1px solid #ccc;box-shadow:0 2px 2px rgba(256,256,256,0.2);margin-bottom:10px;padding-bottom:10px;}
.tc-footer-bottom {border-top:1px solid #ccc;}
.Phase_FooterItems {display: none;}
.tc-card-body {padding:0}
.tc-display-block-xs {display:block}
.xs-sep-line {height:1px; border-bottom: 1px solid #e0e0e0;}
/*.xs-divider-no-space{border-bottom:1px solid #dddddd}*/
.col-full-xs .col-full-xs {padding-bottom: 0 !important;}
.ListRows .tc-question-part {line-height: 1rem; white-space: nowrap;}
.tc-half-answer-width {width: 100%;}
.tc-header-icon {min-width: 34px;}
.wsc-bold-xs {font-weight:700}
.tc-compact .tc-button.col-full-xs {display: block !important; line-height: 2.5rem; font-weight: 700;}
.col-full-xs{width:100% !important}
.tc-margin-bot-0pt5rem {margin-top: .5rem;margin-bottom: -8px;}
.tc-card-header .tc-default-input {white-space: inherit; display: block; overflow: hidden; text-overflow: ellipsis; max-width:180px;}
.ui-datepicker-trigger {right: -140px; top: -24px;}
.wsc-notifications-buttons-bar a.tc-popup-button {padding:0 0.8rem}
/*.responsive-row .responsive-row {padding-right: 0px; padding-left: 0px;}*/
}
@media (max-width: 380px){  /* prevent header icons to wrap on next line */
.tc-header-icon {min-width: 29px};
}
@media (min-width:568px) and (max-width:767px){
.tc-box-on .responsive-section{max-width:100%}
}
@media (max-width:767px){  /* smaller than md  (xs and sm) */
/*.tc-subtoolbar {line-height:0}*/
.tc-breadcrumb {line-height: 1rem;}
.tc-footer-locked .tc-footer-container {position:inherit; margin-top:-2rem;}
.wsc-md-pl0 {padding:0 !important}
.wsc-md-pr0 {padding:0 !important}
.sm-sep-line {height:1px; border-bottom: 1px solid #e0e0e0;}
div.tc-table-answer.exec {cursor:default;}
div.tc-table-answer.exec:hover {background-color: transparent !important}
.highcharts-title {display: none;}
.filterfix-xs {position: absolute; right: 0; margin-top: 9px !important;}

/*.sm-divider-no-space{border-bottom:1px solid #dddddd}*/
}
@media (max-width:1024px){  /* all but xl */
.tc-footer-column-title {font-size: 1rem; margin-bottom: 0;}
}
@media (max-width:567px){ /* xs */
.wsc-md-p0 {padding:0}
.display-block-xs {display:block;}
.t-10-xs {top:-10px;}
.advancedFiltersButton {top:-20px !important;}
.ASFilters tbody tr td:nth-child(2) fieldset>div:not([style*="display: none"]) {display: block !important;}
.ClientSearch.popupSize {min-height: 300px;min-width:240px;}
.WMNewNote.newNotePopupsize {min-height: 300px;min-width:240px;max-width:300px !important;}
.WMCategoryMaintenance.searchCategory {width:240px;}
.GroupManagement {min-height: 300px;min-width:240px;max-width:300px !important;}
.tc-card-button-container .reverse-align > div {float: none !important;}
.SwitchOrder.popupSize {min-height: 300px;min-width:300px;}
.WMNewPerson-popupSize {min-height: 200px;min-width:300px !important;}
.tc-tab-pane .col-full-xs {display: block;}
.tc-compact .tc-table tbody tr {height: 3.5rem;}
.col-full-xs.tc-answer-part span.tc-form-control {padding: .3rem 0;}
span.tc-form-control + .tc-postfix-part {margin-left: -0.5rem;}
.wsc-removeMargins-xs {margin: 0 -15px;}
.wsc-right-20-xs {margin-left:20px;}

.responsive-column.col-full-xs {padding:0 0.4rem;}
.tc-fs-p1-xs {font-size: 1.1rem !important;}
}
@media (min-width:568px) and (max-width:767px){ /* sm */
.display-block-sm {display:block;}
.tc-half-button-sm {width:50%;justify-content:center;margin-left:0}
.tc-half-button-sm a {width:96%;justify-content:center;margin-left:2%}
.tc-full-button-sm, .tc-full-button-sm a {width:100%;justify-content:center;margin-left:0}
.ASFilters tbody tr td:nth-child(2) fieldset>div:not([style*="display: none"]) {display: block !important;}
.ClientSearch.popupSize {min-height:300px;min-width:300px;}
.WMNewNote.newNotePopupsize {min-height:300px;min-width:300px;max-width:400px !important;}
.WMCategoryMaintenance.searchCategory {width:300px;}
.GroupManagement {min-height:300px;min-width:300px;max-width:400px !important;}
.SwitchOrder.popupSize {min-height: 300px;min-width:500px;}
.WMNewPerson-popupSize {min-height: 200px;min-width:500px !important;}
.tc-tab-pane .col-full-sm {display: block;}
.wsc-removeMargins-sm {margin: 0 -15px;}
.wsc-bold-xs {font-weight:700}
}
@media (min-width:768px) and (max-width:1023px){ /* md */
.display-block-md {display:block;}
.ClientSearch.popupSize {min-height:300px;min-width:700px;}
.WMNewNote.newNotePopupsize {min-height:300px;min-width:700px;max-width:700px !important;}
.WMCategoryMaintenance.searchCategory {width:300px;}
.GroupManagement {min-height:300px;min-width:700px;max-width:700px !important;}
.SwitchOrder.popupSize {min-height: 300px;min-width:700px;}
.WMNewPerson-popupSize {min-height: 200px !important;min-width:700px !important;}
.tc-tab-pane .col-full-md {display: block;}
.overlayAccountMovements {width: 106% !important;}
.overlayRiskIndicators {width: 115% !important;}
.domainParametersApply {margin-top: .5rem;}
.responsive-column {padding: 0 4px;}
.responsive-row {margin: 0 4px;}
.GoalNeeds.customPadding {padding: 10px 0;}
}
@media (min-width:1024px) and (max-width:1279px){ /* lg */
.wsc-md-p0 {padding:0}
.display-block-lg {display:block;}
.ClientSearch.popupSize {min-height:300px;min-width:800px;}
.WMNewNote.newNotePopupsize {min-height:300px;min-width:800px;max-width:800px !important;}
.WMCategoryMaintenance.searchCategory {width:400px;}
.GroupManagement {min-height:300px;min-width:800px;max-width:800px !important;}
.SwitchOrder.popupSize {min-height: 300px;min-width:800px;}
.WMNewPerson-popupSize {min-height: 200px !important;min-width:800px !important;}
.mega-nav-menu .cd-primary-nav>li>a .tc-menu-icon {display: none;}
.mega-root .tc-hidden-lg {display: none !important;}
.overlayAccountMovements {width: 129% !important;}
.overlayRiskIndicators {width: 106% !important;}
.domainParametersApply {margin-top: 1.5rem;}
}
@media (min-width:1280px){ /* xl */
  .wsc-md-p0 {padding:0}
  .display-block-xl {display:block;}
  .ClientSearch.popupSize {min-height:300px;min-width:800px;}
  .WMNewNote.newNotePopupsize {min-height:300px;min-width:800px;max-width:800px !important;}
  .WMCategoryMaintenance.searchCategory {width:500px;}
  .GroupManagement {min-height:300px;min-width:800px;max-width:800px !important;}
  .SwitchOrder.popupSize {min-height: 300px;min-width:800px;}
  .WMNewPerson-popupSize {min-height: 200px !important;min-width:800px !important;}
  .mega-nav-menu .cd-primary-nav>li>a .tc-menu-icon {display: none;}
  .domainParametersApply {margin-top: 1.5rem;}
}
@media (min-width:768px){  /* as of md and bigger */
.wsc-md-pl0 {padding-left:0}
.wsc-md-pr0 {padding-right:0}
}

.Phase_Summary .responsive-column.col-full {padding: 0}

/* ----- Start MATRIX Extra tooltip addon ------ */
.matrixContainer .xtt {
  background-color: rgba(249, 249, 249, .92);
  border: 1px solid #3498db; /*#789;*/
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin: 2px;
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.matrixContainer .xtt div {margin:0; padding:0; line-height: 16px; white-space: nowrap;}
.matrixContainer .xtt .head {font-weight: 700; margin-bottom: 4px; white-space: pre-wrap;}
.matrixContainer .xtt .data i {font-style: normal;}
/* ----- End MATRIX Extra tooltip addon ------ */

#SETTINGS_POPUP .tc-popup-button[class*=" icon-"] {padding-left: 2rem;}
#SETTINGS_POPUP div, #SETTINGS_POPUP div a {text-align: left;width: 100%; text-transform: none;}

table.QueryFilterTable{margin-top:10px;}
table.QueryFilterTable td:first-child{padding:0px;}

.CSR table.treetable tr.leaf.level1 td:first-child div {margin-left:1rem;}
.CSR table.treetable tr.leaf.level2 td:first-child div {margin-left:2rem;}
.CSR table.treetable tr.leaf.level3 td:first-child div {margin-left:3rem;}
.CSR table.treetable tr.leaf.level4 td:first-child div {margin-left:4rem;}
.CSR table.treetable tr.leaf.level5 td:first-child div {margin-left:5rem;}
.CSR table.treetable tr.leaf.level6 td:first-child div {margin-left:6rem;}
.CSR table.treetable tr.leaf.level7 td:first-child div {margin-left:7rem;}
.CSR table.treetable tr.leaf.level8 td:first-child div {margin-left:8rem;}
.CSR table.treetable tr.leaf.level9 td:first-child div {margin-left:9rem;}
.CSR table.treetable tr.leaf.level10 td:first-child div {margin-left:10rem;}
.CSR table.treetable tr.leaf.level11 td:first-child div {margin-left:11rem;}
.CSR table.treetable tr.leaf.level12 td:first-child div {margin-left:12rem;}

.highcharts-container{font-weight:normal}
.highcharts-yaxis .highcharts-axis-line{stroke-width:1px}
.highcharts-3d-top,.highcharts-3d-side{fill-opacity:.7}
.highcharts-title{font-size:1.2rem !important;font-weight:bold;font-family:Arial;fill: #003e75 !important;}
.highcharts-legend-item {font-family: Arial;}
.highcharts-color-0{fill:#3498db;stroke:#2980b9;color:#2980b9}
.highcharts-color-1{fill:#e74c3c;stroke:#c0392b;color:#c0392b}
.highcharts-color-2{fill:#34495e;stroke:#34495e;color:#f39c12}
.highcharts-color-3{fill:#95a5a6;stroke:#95a5a6;color:#27ae60}
.highcharts-color-4{fill:#1abc9c;stroke:#1abc9c;color:#8e44ad}
.highcharts-color-5{fill:#f1c40f;stroke:#f1c40f;color:#7f8c8d}
.highcharts-color-6{fill:#e67e22;stroke:#e67e22;color:#d35400}
.highcharts-color-7{fill:#9b59b6;stroke:#16a085;color:#16a085}
.highcharts-color-8{fill:#2ecc71;stroke:#2c3e50;color:#2c3e50}
.highcharts-color-9{fill:#bdc3c7;stroke:#3498db;color:#3498db}
.highcharts-color-10{fill:#c0392b;stroke:#e74c3c;color:#e74c3c}
.highcharts-color-11{fill:#2980b9;stroke:#f1c40f;color:#f1c40f}
.highcharts-color-12{fill:#f39c12;stroke:#2ecc71;color:#2ecc71}
.highcharts-color-13{fill:#16a085;stroke:#9b59b6;color:#9b59b6}
.highcharts-color-14{fill:#95a5a6;stroke:#95a5a6;color:#95a5a6}
.highcharts-color-15{fill:#e67e22;stroke:#e67e22;color:#e67e22}
.highcharts-area{fill-opacity:1}
.highcharts-title .tc-icon {vertical-align: middle;}
.highcharts-boxplot-stem{stroke: #D7D7D7;stroke-width: 20px;opacity: 0.5;}
.highcharts-boxplot-whisker{stroke-width: 0px;}
.chart-scatter .highcharts-scatter-series.highcharts-color-0 image.highcharts-point {stroke:rgb(255,0,0);stroke-width:2}

/* --- Notification icons --- */
.notification-icon-None span:before {content:"";color:#fff}
.notification-icon-Success span:before {content:"\209";color:#23c162}
.notification-icon-Failure span:before {content:"\65";color:#e74c3c}
.notification-icon-Information span:before {content:"\62";color:#316da2}
.notification-icon-Warning span:before {content:"\141";color:#f1c40f}
.notification-icon-Error span:before {content:"\140";color:#e74c3c}

.icon-mandatory-Yes span:before {content:"\77"; color:#23c162}
.icon-mandatory-, .icon-mandatory-No span:before {content:"\65"; color:#e74c3c}

.icon-edit-attributes>span:before {content: "\274";}

th.tc-icon, td.wsc-boolean {width: 26px !important;}
td.List.wsc-boolean {max-width: 26px !important;}

/* Multi Order start */
.tc-table-icon.tc-no-prop > input[type="checkbox"] {
  width: 1.1rem;
  height: 1.2rem;
  position: absolute;
  opacity: 0.01;
  z-index: 5;
}
.tc-table-icon.tc-no-prop.active > span::before,
.tc-table-icon.tc-no-prop.active > label::before {
  padding: 1px;
  border-radius: 0.3rem;
}
.tc-table-icon.tc-no-prop.icon-circle-add.active > span::before,
.tc-table-icon.tc-no-prop.icon-circle-add.active > label::before {
  background-color: #6FD892;
  color: #fff;
}
.tc-table-icon.tc-no-prop.icon-circle-remove.active > span::before,
.tc-table-icon.tc-no-prop.icon-circle-remove.active > label::before {
  background-color: #E86A5D;
  color: #fff;
}
.tc-compact .tc-table-icon.checkbox > span::before {font-size: 1.1rem;}
.tc-compact .tc-table-icon.checkbox > span {top:0;}

/* Multi Order end */


/* Add ons from TemenosTheme.css */
.tc-footer-container a {color: #ffffff !important;}
.tc-footer-container a:hover, .tc-footer-container   a:focus, .tc-footer-container   a:visited {text-decoration: none;}
.tc-footer-container .linkitem {padding: 4px 0;}
.tc-footer-container .linkitem a:before {
  content: "\6a";
  font-family: 'T-Fonticons';
  font-size: 16px;
  margin-left: 4px;
  margin-right: 16px;
  transition: margin 0.2s ease 0s;
}
.tc-footer-container .linkitem a:hover:before {
  margin-left: 16px;
  margin-right: 4px;
}

.tc-footer-container .separator {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2px;
}
.tc-footer-container .pale {
  color: #cde;
}
.tc-footer-locked .tc-content-area {
  padding-bottom: 150px;
}

.big-button {
  transition: opacity 0.4s;
  opacity: 0.85;
}
.big-button:hover {
  cursor: pointer;
  opacity: 1;
}



/* Chosen plugin customization */
.tc-expanding-section.tc-ex-sec-show, .tc-expanding-section.tc-ex-sec-show .tc-table-wrapper {
  overflow: visible;
  position: relative;
  z-index: 40;
}

.basicFilterChosen .chosen-container {
  width: 98% !important;
}
.basicFilterChosen .chosen-container .chosen-drop {
  position: absolute;
}
.wsc-limit94 + .chosen-container {
  max-width: 95%;
}
/* end Chosen plugin customization */

.matrixResult {
	border-collapse: collapse;
}

.value-in-brackets {
  margin-left: -13px;
}

.advancedFiltersButton {
  position: absolute;
  top: -66px;
  right: 0;
}

/* --- checkbox as button start --- */
a.tc-icon-position-before.icon-checkbox-tick > span::before, a.tc-icon-position-before.icon-checkbox-cross > span::before {border: 1px solid #ccc;border-radius: 3px;margin-top: -3px;}
div.unchecked a.tc-icon-position-before.icon-checkbox-tick > span::before, div.unchecked a.tc-icon-position-before.icon-checkbox-cross > span::before {color:transparent;}
/* --- checkbox as button end --- */

/* --- treeview modifications start --- */
.tc-node-body {margin:0 0 1rem;border-top:1px solid #ddd}
.node.tc-detail-section {border:0 none !important}
.node.tc-detail-section.tv-level-0 > div {background-color:#ffebd2;}
.node.tc-detail-section .active {background-color:#23c162 !important;border-radius:0.3rem;color:#fff;}
.node.tc-detail-section:hover {box-shadow: unset !important;background-color: #316da2;}
.node.tc-detail-section .node-exec {font-size: 0.9rem;background-color: #aaa;border-radius: 0.2rem;color: #fff;box-shadow:0 2px 4px rgba(0,0,0,0.5)}
/* --- treeview modifications end --- */
.treetable tbody {background-color: #fff !important;}

.wsc-popup-header {
  background-color: #316da2;
  color: #f1f1f1;
  display: block;
  margin: -1.6rem -1.3rem 1rem;
  padding: 1rem 1.3rem;
}
a i.tc-icon.checkbox span {
  border: 1px solid #dddddd;
  color: #444;
  font-size: 1rem;
}
a i.tc-icon.checkbox span::before {
  content: "\259";
  opacity: 0;
  vertical-align: middle;
}
a i.tc-icon.checkbox.checked span::before {
  content: "\259";
  opacity: 1;
}
.selectAllCB {text-align: center;}

.tc-compact span.tc-form-control:empty {
  min-height: auto;
  min-width: auto;
  padding: 0.3rem 0rem;
  margin-left: -4px;
}
.tc-prefix-part {padding-right: 0;}
label.accessibilityStyle + .tc-prefix-part {padding-right: 0.5rem;}

.inactive-icon .tc-icon * {color: #aaa;}
.active-icon .tc-icon * {color: #316da2;}

.MiFIDField {margin-left:1rem;font-weight:600;float:left;}
.MiFIDField .questionMark {font-size: 1.2rem;}
.MiFIDField i.tc-icon {font-size: 1.2rem;}
.MiFIDField i.tc-icon.icon-accept span {color: #2BC065;}
.MiFIDField i.tc-icon.icon-cancel span {color: #E74C3C;}


.MiFID-mini-card {background-color:#eee;padding: 20px;}
.MiFID-mini-card h3 {margin-top:-10px;font-size:1.3rem;}
.MiFID-mini-card .tc-button {min-width: 195px; text-align: center; margin-right: 0; display: inline-block !important;}
.MiFID-mini-card .tc-button span {line-height: 2rem;}
.reviewInProgressIcon {text-align: center !important;font-size: 3rem;}
.reviewInProgressIcon .tc-icon span {color: rgb(253,105,35)}

.wsc-card-portfolio {border-left: 5px solid #e74c3c;}
.wsc-card-client {border-left: 5px solid #3498db;}
.wsc-card-portfoliogroup {border-left: 5px solid #9b59b6;}
.wsc-card-basket {border-left: 5px solid #999;}
.wsc-card-instrument {border-left: 5px solid #F39C12;}

.wsc-icon-in-field {
  margin-left: -2.5rem;
}

input.readOnly {
  background-color: transparent;
  border: 0 none;
  text-overflow: ellipsis;
}

#helpDiv {
  z-index: 1300 !important;
}

body[data-section="mutualfund"] .tc-help-icon > a {
  opacity: 1 !important;
  padding-left: 11px !important;
  padding-right: 12px !important;
  border-radius: 50% !important;
}
body[data-section="mutualfund"] .tc-help-icon > a:after {
  content: "i";
}

body[data-section="proposal"] .tc-help-icon > a {
  opacity: 1 !important;
  filter: brightness(1.15);
  font-size: 1.5rem;
  background-color: #fff !important;
}
body[data-section="proposal"] .tc-help-icon > a:after {
  content: "\270";
  font-family: T-Fonticons;
  color: #000;
  background-color: #fff;
}
.wsc-language-button {
  background-color: transparent;
  border: 0 none;
/*  display: inline;*/
  padding: 1.3rem 0.6rem;;
}
.wsc-language-button a {margin-left: 1rem;}

.fake-card-header {
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin:0 -14px;
  min-height: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
.fake-card-header h2 {
  color: #316da2;
  font-size: 1.2rem;
  padding-top: 1rem;
  margin: 0;
  height: initial;
}

button.tc-popup-button:disabled {
  color: #dddddd;
  opacity: .7;
}



table.ChartLegend tbody td {border-top: 0 none; line-height: 24px; padding: 0 5px;}
table.ChartLegend thead th {background-color: transparent;}
table.ChartLegend .ui-slider {display: inline-block;}
table.ChartLegend i.icon span:before {font-size: 1.4rem;}
table.ChartLegend i.icon + .ui-slider {margin-bottom: 3px;}
table.ChartLegend .ui-slider .ui-slider-range.ui-widget-header.ui-slider-range-min {background: 0 none; border-radius: 0;}
table.ChartLegend .ui-slider.ui-disabled .ui-slider-handle {display: none;}
table.ChartLegend .ui-slider {border: 1px solid #ccc; border-radius: 0;}
table.ChartLegend .ui-slider .ui-slider-handle {
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: -0.4em;
  opacity: 0.85;
  width: 10px;
}
table.ChartLegend .slider-marker {width: 60px !important;}
.PMStxt {margin: 0 10px; font-weight: 500; width: auto;}
.PMStext {width: auto !important;font-weight: 700;}
.icon-ispinned0 span:before{content:""; color:transparent}
.icon-ispinned1 span:before{content:"\170";color:#888}


td.recommendation1 span::before {
  content: "\101";
  font-family: T-Fonticons;
  font-size: 20px;
}
/*.tc-card-expander div.col-hidden {display: block;}*/

.Margin_0_60 {padding: 0 60px;}

.wsc-table .col-hidden-cm {display: none;}

.icon.trend-1:before {content: "\195"; font-family:'T-Fonticons'; color: #E74C3C; font-size: 1.5rem;}
.icon.trend0:before  {content: "\118"; font-family:'T-Fonticons'; font-size: 1.5rem;}
.icon.trend1:before  {content: "\194"; font-family:'T-Fonticons'; color: #2ECC71; font-size: 1.5rem;}

a.wsc-checkbox span, a.wsc-checkbox-checked span {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  overflow: hidden;
  padding-top: 4px;
  line-height: 1rem;
  font-size: 0.9rem;
}
a.wsc-checkbox span::before {
  content: "";
  border: 1px solid #ccc;
  padding: 0rem 0.7rem;
  margin-right: 1rem;
}
a.wsc-checkbox-checked span::before {
  content: "\259";
  font-family: T-Fonticons;
  border: 1px solid #444;
  padding: 0.2rem 0.2rem;
  margin-right: 1rem;
}

/* Start Handle iOS sub theme */
body.WSC\.iOS input.formItem {border-style: solid;border-width: 1px;margin-right: .4rem;height: 2rem;padding:0 0.5rem}
body.WSC\.iOS input.date-picker {text-align: right}
body.WSC\.iOS input.date-picker ~ img {display:none}
/* End Handle iOS sub theme */

.riskComplianceSection0 {color: #bdc3c7;}
.riskComplianceSection1 {color: #7f8c8d;}
.riskComplianceSection2 {color: #23c162;}
.riskComplianceSection3 {color: #f1c40f;}
.riskComplianceSection4 {color: #e66e22;}
.riskComplianceSection5 {color: #e74c3c;}
.riskComplianceSection6 {color: #e74c3c;}

.riskCompliance {
  text-align: center;
  font-family: 'T-Fonticons';
  font-size: 2rem;
  padding: 10px 0;
}
.riskCompliance0::before {content: "\211";}
.riskCompliance1::before {content: "\211";}
.riskCompliance2::before {content: "\209";}
.riskCompliance3::before {content: "\210";}
.riskCompliance4::before {content: "\210";}
.riskCompliance5::before {content: "\210";}
.riskCompliance6::before {content: "\210";}

.container {
  padding-left: 0;
}

.messagebg{
	background-color:#4576A4;
}

.navmenu{
	padding:10px 20px;
}

.navmenu a:hover {
	text-decoration:none;
	background-color: #7498BB;
}

.navmenulink{
	color:#FFFFFF;
}

.navmenuactive{
	font-weight:bold;
}

.navmenuactive  :before{
  content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #ffffff;
	position: absolute;
	right:0;
	z-index: 2;
}

.ToClientflag {
  overflow-x: auto;
  white-space: normal;
  background-color: transparent;
  display: block;
}

.ToClientflag tbody {
  display: block;
}

.ToClientflag tbody tr {
  display: inline-block;
  position: relative;
  color: #ffffff;
  background-color: #0c4374;
  border-radius: 2px;
  padding: 0px 8px;
  margin: 1px;
  cursor: pointer;
}
.ToClientflag tbody tr td {
  border: 0;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  width: 100%;
	line-height: 2rem;
}

.ToClientflag tbody tr td.selector, .ToClientflag tbody tr td.hidden {
  display: none
}

.ToClientflag tbody tr td.clientname i {
  color:#ffffff;
  font-weight: normal;
	font-style: normal;
  font-size: 12px;
}
.ToClientflag tbody tr td.clientname i::before {
  vertical-align: middle;
}

.ToClientAnswer {
  border: 1px solid #8db0cf;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  min-height: 40px !important;
  line-height: 30px;
  opacity: 1;
  padding: 3px 5px !important;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width:98%;
}

tr.DisabledRow td{
	background-color:#f0f0f0;
	color:#ccc;
	cursor:pointer;
}

table tr.DisabledRow {
	color:#ccc;
	pointer-events: none;
}

.mutedBold {
  color: #999999;
  font-weight: bold;
}



.icon.cancel:before  {content: "\65"; font-family:'T-Fonticons'; color: #FFFFFF; font-size: 1rem;}
span.required {
  color: #c00;
  padding: 0 0 0 4px;
}

.ListRows div.responsive-row {
  border-bottom: 1px solid #ccc;
  line-height: 2rem;
  height: 2.5rem;
}
.ListRows div.tc-answer-part {text-align: right;}
.ListRows .tc-answer-part .tc-postfix-part {padding-right: .8rem;}

.ButtonsBar-as-Tabs {
  border-bottom: 1px solid #ccc;
  padding-left: 1rem;
}
.FilterTableSection div {width: auto; display: inline-block;}

.notCompliantWithTarget, .notCompliantWithRestrictions {
  background-color: #f39c12;
  border: 1px solid #f39c12 !important;
  margin-right: 0;
}

.compliantWithRestrictions {
  background-color: #23c162;
  border: 1px solid #23c162 !important;
  margin-right: 0;
}

.inline-banner {
  border-left: 1px solid #ccc;
}

.tc-compact .tc-row-part.wsc-banner-item {
  padding: 0;
}

.tc-table th.icon {max-width:40px;text-align:center;}
.tc-table td.tc-icon.Number {font-size: 0; text-align: center !important; vertical-align: middle;}
.tc-table td.tc-icon.Number:before         {font-family: 'T-Fonticons' !important; font-size: 1.4rem;}
.tc-table td.tc-icon.Number.check:before  {content: "\211"; color: #ddd;}       /* no value */
.tc-table td.tc-icon.Number.check0:before  {content: "\211"; color: #bdc3c7;}   /* no objectives defined */
.tc-table td.tc-icon.Number.check1:before  {content: "\211"; color: #7f8c8d;}   /* not evaluated */
.tc-table td.tc-icon.Number.check2:before  {content: "\209"; color: #23c162;}   /* compliant */
.tc-table td.tc-icon.Number.check3:before  {content: "\210"; color: #f1c40f;}   /* not compliant - low severity */
.tc-table td.tc-icon.Number.check4:before  {content: "\210"; color: #e66e22;}   /* not compliant - medium severity */
.tc-table td.tc-icon.Number.check5:before  {content: "\210"; color: #e74c3c;}   /* not compliant - high severity */
.tc-table td.tc-icon.Number.pinned:before  {content: "\169"; color: #333;}
.tc-table td.tc-icon.Number span {padding: 12px; top: -12px;}                   /* for tooltips to appear */

.greyedOut {
  opacity: .3;
  width: 100%;
  left: 0px;
}

.greyedOutLabel {
  float: right;
  margin-top: 10px;
}

.autocompleteResults .managerCode {
  font-weight: bold;
}

.autocompleteResults .managerDenom {
  color: #bbb;
}

.autocompleteResults .managerName {
  font-style: italic;
}

.tc-popup a.tc-popup-button span:before {
  margin-left: -2.0rem;
}


/* --- datepicker enhancement --- */
.ui-datepicker .ui-datepicker-header {
  padding: .4em 0 0 !important;
}
.ui-datepicker-month, .ui-datepicker-year {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-right: .4rem;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  margin-left: 4px;
  margin-top: 7px;
}
.ui-icon.ui-icon-circle-triangle-e,
.ui-icon.ui-icon-circle-triangle-w {
  background-image: unset !important;
  position: unset !important;
  text-indent: inherit;
  font-size: 0;
}
.ui-icon.ui-icon-circle-triangle-e::after,
.ui-icon.ui-icon-circle-triangle-w::after {
  color: #666;
  font-family: T-Fonticons;
  font-size: 20px;
  position: absolute;
  top: 4px;
  height: 20px;
  width: 20px;
}
.ui-icon.ui-icon-circle-triangle-w::after {content: "\174"; left: 2px;}
.ui-icon.ui-icon-circle-triangle-e::after {content: "\175"; right: 2px;}
.ui-datepicker-prev {}
.ui-datepicker-next {}

img.ui-datepicker-trigger::after {
  content: "\47";
  font-family: T-Fonticons;
}
/* --- datepicker enhancement END --- */

/* --- wsc-Inline-Edit --- */
.wsc-Inline-Edit .tc-question-part {padding: 0.25rem 10px;}
a.inlineEdit-toggle {margin-left: -10px; padding: 0.25rem;}
.editable-section .tc-postfix-part,
span.static {
  display:inline-block;
  font-style:italic;
  font-weight:700;
  height: auto;
  min-height:2rem;
  padding:.3rem 0 0.3rem .5rem;
}
.editable-section.active span.static {display:none;}
.editable-section.active a.inlineEdit-toggle {opacity:0;}
.editable-section:hover {background-color: rgba(240,240,240,0.5)}
.editable-section .tc-form-control {display: none;}
.editable-section a.inlineEdit-toggle {opacity:0;}
.wsc-Inline-Edit:hover a.inlineEdit-toggle {opacity:1;}
.editable-section .ui-datepicker-trigger {display:none;}
.editable-section.active .tc-form-control {display:inline-block;}
.editable-section.active .ui-datepicker-trigger {display:inline-block;}
.editable-section a.inlineEdit-toggle {padding: 0.2rem 0 0.2rem 1.5rem;}
.editable-section input.hasDatepicker {max-width: 128px}
/* --- wsc-Inline-Edit END --- */

/*#wsc_FormView {position: absolute; top: 160px;}*/
#wsc_FormView {z-index:2;}
#wsc_FormView .tc-card-header .icon-cancel {position: absolute; top: 10px; right: 10px;}
#wsc_FormView .wsc-debug-table {font-size: 0.8rem;}
#wsc_FormView .wsc-debug-table tr {height:auto !important;}
#wsc_FormView .wsc-debug-table tr td {padding:2px 4px;}
#wsc_FormView .tc-table tbody tr.hilite td {background-color:#E2F3EB;}
#wsc_FormView td.tc-icon {text-align: center; font-weight:700;}
#wsc_FormView td.tc-icon.icon-cancel span:before {color:#a00;}
#wsc_FormView td.tc-icon.icon-accept span:before {color:#0a0;}
#wsc_FormView a {cursor: pointer !important; min-height: 1.8rem;}

.icon-accept>div>span::before,.icon-accept>div>label::before{content:"\77"}
.icon-cancel>div>span::before,.icon-cancel>div>label::before{content:"\65"}

.icon-star-filled>div>span::before,.icon-star-filled>div>label::before{content:"\101"}
.icon-star-empty>div>span::before,.icon-star-empty>div>label::before{content:"\102"}

.goalOverviewNature {font-size: 0;}
.goalOverviewNature:before {font-family: 'BlueMagic'; font-size: 4rem; padding: 5px;}
.goalOverviewNature_2:before {content: "\4d"}
.goalOverviewNature_3:before {content: "\c9"}
.goalOverviewNature_4:before {content: "\271"}
.goalOverviewNature_5:before {content: "\272"}

.goalOverviewStatus {font-size: 0;}
.goalOverviewStatus:before {font-family: 'BlueMagic'; font-size: 3.5rem; padding: 5px;}
.goalOverviewStatus_1:before {content: "\77"; color: #2BC065;}
.goalOverviewStatus_2:before {content: "\e6bc"; color: rgb(253, 105, 35);}
.goalOverviewStatus_3:before {font-family: 'BlueMagic23'; content: "\128";}

.emphasized {font-size: 1.2rem; color: #316da2;}
.emphasized a>span::before {color: #316da2;}

.force-hidden, .tc-hidden {display:none !important}

/* START Gauge Slider widget */
div.gauge {margin: 10px auto; text-align: center;}
div.slider input[type=range] {padding-bottom: 0;}
div.slider > i.icon {font-size: 24px; color: #5386B5; cursor: pointer;}
.SelectedStrategies_Name,
.SelectedStrategies_Text,
.SelectedStrategies_Level {
  display: block;
  line-height: 20px !important;
  text-align: center;
  white-space: pre-wrap;
}
.SelectedStrategies_Name {
  font-weight: 700;
  min-height: 20px;
}
.SelectedStrategies_Level {
  margin-top: -48px;
}
.SelectedStrategies_Text {
  margin-left: -132px;
}

.InvProfileCard  label.SelectedStrategies_Name{
margin:0 !important;
padding-left: 30px;
text-align:left;
}
/* END Gauge Slider widget */

/* START Unified range slider (same look in any browser) */
input[type=range].sliderItem::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3), 0px 0px 1px rgba(0,0,0,0.5);
  background: #3071a9;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type=range].sliderItem:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range].sliderItem::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3), 0px 0px 1px rgba(0,0,0,0.5);
  background: #3071a9;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type=range].sliderItem::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range].sliderItem::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3), 0px 0px 1px rgba(0,0,0,0.5);
}
input[type=range].sliderItem:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range].sliderItem::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3), 0px 0px 1px rgba(0,0,0,0.5);
}
input[type=range].sliderItem:focus::-ms-fill-upper {
  background: #367ebd;
}
/* END Unified range slider (same look in any browser) */

.croppeddenom {
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chosen-container-single .chosen-single {
  width : 150px;
}

.tc-groupManagementSection-popup .ui-dialog-titlebar{
	background:#9b59b6
}

.tc-groupManagementSection-popup .ui-dialog-titlebar{
	color:#ffffff;
}
.tc-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  font-size: 0;
}

.tc-star-filled{
    font-size: 25px;
    color: #ffcc33;
}

.tc-card .tc-star-filled,.tc-card .tc-star-filled.tc-form-control[disabled]{font-size: 25px;color: #ffcc33;}.tc-card.tc-star-filled:hover,.tc-card .tc-star-filled.tc-form-control[disabled]:hover{font-size: 25px;color: #ffcc33;}.tc-card .tc-star-filled.tc-form-control[disabled]{-webkit-text-fill-color:#ffcc33;font-size: 25px;opacity:1}

.tc-card-button-container .reverse-align>div {float: right;}

.tc-icon.preContent {font-size:1.6rem; padding-right: 8px; vertical-align: middle;}
.tc-icon.preContent.icon-accept {color: #23c162;}
.tc-icon.preContent.icon-warning {color: #e74c3c;}

.RelBgColor {
  background-color: #44aa44;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 10px;
  opacity: 1;
  padding: 4px 4px;
  position: relative;
  top: -12px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.tc-relcard {
  background-color: #ffffff;
  border-radius: 0px;
  border-top:solid thin #D3D3D3;
  box-shadow: 0 8px 12px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.19);
  padding: 10px;
  margin: 16px 0 16px 0;
  position: relative;
  transition: box-shadow 0.25s ease 0s;
}
.tc-relcard:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.19);
}

.RelBgColor:hover {
  background-color: #999999;
}

.goalOverviewNature {font-size: 0;}
.goalOverviewNature:before {font-family: 'T-Fonticons'; font-size: 3.3rem; padding: 5px;}
.goalOverviewNature_2:before,.goalOverviewNature_SavingsPlan:before {content: "\5b"}
.goalOverviewNature_3:before,.goalOverviewNature_RetirementPlan:before {content: "\c9"}
.goalOverviewNature_4:before,.goalOverviewNature_EducationPlan:before {content: "\271"}
.goalOverviewNature_5:before,.goalOverviewNature_LifeInsurancePlan:before {content: "\272"}

.goalOverviewStatus {font-size: 0;}
.goalOverviewStatus:before {font-family: 'T-Fonticons'; font-size: 2.5rem; padding: 5px;}
/*.goalOverviewStatus_0:before {content: "\261"; color: #aaa;}*/
.goalOverviewStatus_1:before {content: "\77"; color: #2BC065;}
.goalOverviewStatus_2:before {content: "\141"; color: rgb(253, 105, 35);}
.goalOverviewStatus_3:before {content: "\128";}

.riskPendingStatus {font-size: 0;}
.riskPendingStatus:before {font-family: 'T-Fonticons'; font-size: 1.9rem; padding: 5px;}
.riskPendingStatus_3:before {content: "\260"; color: #c0392b}
.riskPendingStatus_4:before {content: "\279"}

div.tc-radio.radio-control.spaceButtons input[type=radio]+label:before{
  box-shadow:none;
  border-color:#eee;
  background-color:#eee;
}
.radio-control.spaceButtons {}
.radio-control.spaceButtons input[type="radio"] {display: none;}
.radio-control.spaceButtons input[type="radio"] + label {background-color: #eee; border: 1px solid #ddd; line-height: 2rem; padding: 1rem;}
.radio-control.spaceButtons input[type="radio"] + label:before {font-family: 'T-Fonticons'; font-size: 2rem; font-weight:500 !important; color: #444; margin-right: 1.6rem; vertical-align: top;}
.radio-control.spaceButtons input[value="SavingsPlan"] + label:before {content: "\5b";}
.radio-control.spaceButtons input[value="EducationPlan"] + label:before {content: "\271";}
.radio-control.spaceButtons input[value="LifeInsurancePlan"] + label:before {content: "\272";}
.radio-control.spaceButtons input[value="RetirementPlan"] + label:before {content: "\c9";}
.radio-control input[type="radio"] + label:hover {box-shadow: 4px 4px 4px rgba(0,0,0,.1);}
.radio-control input[type="radio"]:checked + label, .radio-control input[type="radio"]:checked + label:before {color: #4576A4; font-weight: 700;}
.radio-control input[type="radio"]:checked + label {box-shadow: 4px 4px 4px rgba(0,0,0,.3);}

.GoalNeeds {background-color: #eee; margin: 1rem 2rem; padding: 1.6rem 3rem; text-align: center;}
.GoalNeeds.join {margin-top: -1rem; padding-top: 0;}

img[src$="cal.gif"] {display: none;}

.tc-compact .tc-card-header .tc-default-input.hasDatepicker {margin-top: 0;}
.wsc-export a.tc-icon > span::before {font-size: 1.4rem; padding-right: 0.5rem;}
.wsc-export a.tc-icon > span {font-size: 1rem;}

.wsc-text-link {color:#003e75 !important;}
.wsc-text-link:hover {text-decoration:underline;}
.wsc-list-container .tc-answer-part div > span.wsc-ellipsis {float: right; padding: 0.4rem 0 !important;}
div > span.wsc-ellipsis {max-width:80%; }
span.wsc-ellipsis {display: block; overflow: hidden; text-overflow: ellipsis;}
td span.wsc-ellipsis {max-width: 400px;}
div > span.wsc-ellipsis-100,td span.wsc-ellipsis-100 {max-width: 100px;}
div > span.wsc-ellipsis-150,td span.wsc-ellipsis-150 {max-width: 150px;}
div > span.wsc-ellipsis-200,td span.wsc-ellipsis-200 {max-width: 200px;}
div > span.wsc-ellipsis-250,td span.wsc-ellipsis-250 {max-width: 250px;}
div > span.wsc-ellipsis-300,td span.wsc-ellipsis-300 {max-width: 300px;}
.GroupManagement .tc-card-spacing-2 {line-height: 2.4rem;}
.wsc-chart-trans .highcharts-background {fill: transparent;}
.wsc-chart-trans>div {margin: 0 auto;}

.wsc-export.tc-popup {min-width: 240px;}

.sticky__widget .title i.icon-star-filled span {top: 0;}
.wsc-SearchAccessWrapper {margin-top: 8px;}
td fieldset {white-space: nowrap;}

/* .tc-compact .tc-normal-icon-with-text {height: 2.8rem;} */

.wsc-section-with-cols {margin:0 -10px}
.wsc-reverse-tabs {width:auto}
.wsc-reverse-tabs > div > div {display: inline-block; margin-bottom: -4px; width:auto !important}
.wsc-reverse-tabs .tc-tab-header {float: right;}

.Firefox .TapGoalInputPlaceholder {margin-left:10px}
.Edge .TapGoalInputPlaceholder {margin-left:8px}

.ClientDetailsNotesActDocSection .tc-icon-position-after>span::before {font-size: 1.5rem; font-weight: 700}

.wsc-list-container {line-height:2.1rem; white-space: nowrap;}
.wsc-list-container .responsive-row {border-bottom:1px solid #ddd}
.wsc-list-container .tc-question-part {text-align: left; padding:0}
.wsc-list-container .tc-answer-part {text-align: right; padding:0; font-weight:700}
.wsc-list-container .tc-answer-part fieldset .tc-form-control.decimal {padding:0.3rem 0}

.tc-table-wrapper .UnAccounted td span {font-style: italic; color: #999;}

.tc-card .node.tc-detail-section {width: auto !important; min-width: 140px;}

label > span.mandatory {color: #c00; font-weight: 500; margin-right: -5px;}

/*
div.tc-table-question label {/*text-transform: uppercase;*//*font-weight: 500}
div.tc-table-question span {font-weight: 700;}
div.tc-question-part label {font-weight: 500;}
div.tc-answer-part span {font-weight: 700;}
*/

@media (min-width:568px) {
  .wsc-spandex {height:250px}
  .wsc-spandex > div {margin-top:25%}
}
@media (max-width:567px){
.wsc-list-container {white-space: inherit;}
.wsc-list-container .tc-answer-part {text-align: inherit;}
.wsc-list-container .tc-answer-part div > span.wsc-ellipsis {float: none;}
.wsc-list-container .tc-question-part {font-weight:700}
.wsc-list-container .tc-answer-part {font-weight:500}
}
@media (max-width:767px){
.inline-banner {border-left: 0 none; margin-left: -10px; padding-left:0}
}
/* --- Advanced Filters Section --- */ /*
@media (max-width:1279px){
.wsc-advancedFilterTable .tc-table-answer fieldset {border: 1px solid #ddd !important; margin: 2px; padding: 2px !important; width: 100%;}
.wsc-advancedFilterTable .tc-table-answer fieldset > div:not([style*="display: none"]) {display:block !important;}
}
*/
.wsc-90pcw {width: 90vw !important;}

.tc-compact td span.tc-form-control {min-height: auto;}
.tc-compact td fieldset > div + div > span.tc-form-control {margin-left: -6px;}
.tc-compact .responsive-row .tc-question-part,
.tc-compact .responsive-row .tc-answer-part {line-height: 2rem;}
.wsc-iconshift {margin-top: -0.5rem;}
/*select.tc-form-control {min-width: 150px;}*/
span.tc-nav-item-first,span.tc-nav-item-last{visibility:inherit}


/* ---------------------------- *\
|* --- KD-4004 - PM-PROFILE --- *|
\* ---------------------------- */
.PMS .tc-footer-container {bottom: 0; top: auto !important; position: fixed !important; width: 100%; z-index: 1000;}
.PMS .main-content-area {margin-bottom: 60px;}
.PMS .tc-subtoolbar {margin: 0 -1%;}
.PMS .wsc-pm-tabs {background-color: #fff; box-shadow: 0 2px 10px rgba(0,0,0,0.2);}
.PMS .tc-subtoolbar .swiper-container {height: 49px; width: 98%; padding-bottom: 0}
.PMS .wsc-pm-tabs .swiper-wrapper > .tc-tab-header {padding-right:2.5rem;}
.PMS .wsc-pm-tabs .swiper-wrapper > .tc-tab-header ~ a.tc-normal-icon {min-width: 1rem;}
.PMS .wsc-pm-tabs .swiper-wrapper > .tc-tab-header ~ a.tc-normal-icon.tab-close {margin-left: -1.4rem; opacity:0.3;}
.PMS .wsc-pm-tabs .swiper-wrapper > .tc-tab-header ~ a.tc-normal-icon.tab-close:hover {opacity:1;}
.PMS .wsc-pm-tabs .swiper-wrapper > .tc-tab-header ~ a.tc-normal-icon.tab-new {width:0;height:0;margin-left:-1rem;overflow:hidden;visibility:hidden}

.PMS .CSR .swiper-slide {margin-right: 0.5rem !important; width: auto !important}
.PMS .hasSearchAccess .wsc-pm-tabs .swiper-wrapper {max-width: calc(100% - 350px); overflow: hidden;}
.PMS .CSR .wsc-pm-tabs .swiper-wrapper .tc-tab-header {padding-right:2.5rem;}
.PMS .CSR .wsc-pm-tabs .swiper-wrapper a.tc-normal-icon {min-width: 1rem;}
.PMS .CSR .wsc-pm-tabs .swiper-wrapper a.tc-normal-icon.tab-close {margin-left: -1.4rem; opacity:0.3;}
.PMS .CSR .wsc-pm-tabs .swiper-wrapper a.tc-normal-icon.tab-close:hover {opacity:1;}
.PMS .CSR .wsc-pm-tabs .swiper-wrapper a.tc-normal-icon.tab-new {width:0;height:0;margin-left:-1rem;overflow:hidden;visibility:hidden}

/* wsc-pm-tabs CSR */
.PMS .hasSearchAccess .Phase_SearchAccess {margin-right: 12px;}
.PMS .wsc-pm-tabs .wsc-pm-tab {display: inline-block;}
.PMS .wsc-pm-tabs .tabsWrapper {margin: 0 20px; white-space: nowrap; overflow: hidden;}
.PMS .hasSearchAccess .wsc-pm-tabs .tabsWrapper {margin-right: 380px}
.PMS .hasSearchAccess .wsc-pm-tabs .pm-tabs-Pagination-button.paginate-Forward {display:none}
.PMS .wsc-pm-tabs .pm-tabs-Pagination {margin-top: -44px; min-height: 41px;}
.PMS .wsc-pm-tabs .paginate-Forward {float:right}
/* End CSR */

.PMS .hasSearchAccess .wsc-SearchAccessWrapper {position: relative; top: -50px; right: -30px; z-index: 10;}
.PMS .hasSearchAccess .tc-subtoolbar {margin-bottom: -50px;}
.PMS .PMS-menu-toggler {display: block; margin: -10px 0 -24px; opacity: 0.2;}
.PMS .aside-hover .PMS-menu-toggler {opacity: 1;}
.PMS .aside {margin-bottom: 50px; position: absolute; top:-5px; z-index: 10;}
.PMS .aside .PMS-info {background-color: #fff; box-shadow: 0 2px 10px rgba(0,0,0,0.2); margin: 5px 10px 10px 5px; overflow: hidden; width: 0;}
.PMS .aside-hover .aside .PMS-info, .PMS .aside-active .aside .PMS-info {padding: 10px;}
.PMS .aside-hover .PMS-info, .PMS .hasAside.aside-active .aside .PMS-info {width: auto;}
.PMS .aside .toggler-space {float:left; height: 100%; margin: -10px 10px 0 -10px; max-width:21px;}
.PMS .aside .tc-accordion-menu {width:308px;}
.PMS .hasAside.aside-active .main-content-area {margin-left: 330px;}
.PMS .hasAside .aside a.toggler span:before,
.PMS .hasAside.aside-hover .aside a.toggler span:before {content: "\175";}
.PMS .hasAside.aside-active .aside a.toggler span:before  {content: "\174";}
.PMS .hasAside .aside a.toggler {margin: 10px -10px;}
.PMS .card-config .tc-card-header-popout.tc-popup.show-popup {margin-top: 2rem;}
.PMS .tc-card.hclosed .tc-card-header {border-bottom: 0 none}

.PMS .PM-config-flyout {top:3rem !important;}
.PMS .PM-config-flyout-header {border-bottom: 1px solid #ddd; margin: -1rem -1rem 0; padding: 0 1.4rem;}
.PMS .Edge .tc-popup-button-container {margin: 1rem -1rem 0}

div.tc-popup.Save-Flyout {min-width:180px;}
.wsc-flyout-btn {font-size:1.2rem;}

.tc-compact .PM-config-flyout-content div.tc-checkbox.tc-checkbox-horiz {padding-top:8px}

.wsc-info-tile-container > div > div {margin:0 4px}
.responsive-column {transition: width 0.4s;}

/*.PMS .dropzone {display: inline-block; width: 50px; height: 50px; border: 1px dashed; float: right;}*/

td.list-val- {background-color: #e8e8e8 !important; border-left: 3px solid #d0d0d0;}
td.list-val-0 {background-color: #ffd8d8 !important; border-left: 3px solid #c0392b;}
td.list-val-1 {background-color: #d8ffd8 !important; border-left: 3px solid #16793e;}
td.list-val-2 {background-color: #d8ffd8 !important; border-left: 3px solid #16793e;}
td.list-val-3 {background-color: #d8ffd8 !important; border-left: 3px solid #16793e;}
td.list-val-4 {background-color: #d8ffd8 !important; border-left: 3px solid #16793e;}
td.list-val-5 {background-color: #d8ffd8 !important; border-left: 3px solid #16793e;}

@media (min-width:1600px){ /* --- xxl >= 1660px --- */
.PMS .PMS-menu-toggler {display:none;}
.PMS .hasAside .main-content-area {margin-left:332px}
.PMS .aside {left: -13px !important; top: 5px; padding: 10px; width: auto;}
.PMS .aside .PMS-info {padding: 10px; width: auto;}
.PMS .aside .toggler-space {width: 0;}
.PMS .tc-header .responsive-section,
.PMS .tc-subtoolbar .responsive-section,
.PMS .tc-content-area {max-width:98%;}
.PMS .PM-dashboard-search-btn {float:right}
.PMS .PM-dashboard-left {max-width:480px;}
.PMS .PM-dashboard-right {width:calc(100% - 480px);}
}
@media (min-width:1280px){
.PMS .PM-ordermonitoring-left {max-width:400px;}
.PMS .PM-ordermonitoring-right {width:calc(100% - 400px);}
}
/* -------------------------------- *\
|* --- KD-4004 - PM-PROFILE END --- *|
\* -------------------------------- */

.PMS .widget-placeholder {margin: 0 10px 10px; opacity: 0.7; padding:0;}
.PMS .widget-placeholder > div {padding: 4px;}
ul.nCM {background-color: #eee; margin: 0; padding: 0; list-style: none;}
ul.nCM > li {padding: 0.3rem; border-bottom: 1px solid #ddd;}
ul.nCM > li span.tc-icon {padding:0 8px;}

.wsc-banner {
 color: #FFFFFF;
 font-weight: bold;
 font-size: 13px;
 text-align: center;
 margin-bottom: 9px;
 margin-right: -138px;
}
.tc-popup-button-container .tc-popup-button.tc-primary-color {color:#003e75}

td.wsc-stick-column-,td.wsc-stick-column-0,td.wsc-stick-column-1 {border-left: 3px solid transparent;}
td.wsc-stick-column-2 {background-color: #b2ffcc !important;border-left: 3px solid #23c162;}
td.wsc-stick-column-3 {background-color: #ff9999 !important;border-left: 3px solid #c0392b;}

ul.cd-secondary-nav > li.has-children, ul.cd-secondary-nav > li.tc-mm-leaf {min-width: 20% !important;}
ul.cd-secondary-nav > li.tc-mm-leaf > ul.is-hidden {min-height: auto !important;}

/* wrapper used to avoid calendar widget displaying out of window view port*/
div.wsc-date-wrapper .rdtOpen .rdtPicker {
    display: block !important;
}