.ecDB {display: block;}
.tc-prefix-part+fieldset .tc-prefix-part {display: none;}
fieldset+.tc-postfix-part {display: none;}
.tc-header-icon {position:relative;}
.tc-box-on .tc-content-area {margin:0 auto 50px}

.wsc-icon-in-field {margin-top: 0.5rem;}
.wsc-col-cm-hidden div.ecDIB {display: inline-block !important;}
td.wsc-keep-body-cell>div {display: block !important}

/*th[id$="BUT_CD4C7A092E39BBDA419103"],*/
td.wsc-keep-body-cell,
th.keepColHeading {
    display: table-cell !important;
}
.wsc-exclude-cm>div { display: block !important; }
.tmpAddition div    { display: block !important; }
.selectAllCB div    { display: block !important  }

th[id$="QUE_CAE7C2C1799C88A3385411"] div,
th[id$="QUE_CAE7C2C1799C88A3385397"] div,
table[id$="TBL_B33060D1E2600301881009"]  th div,
table[id$="TBL_9F67ABBB2D1EFC0F2151379"]  th div {
    display: block !important;
}

div[id$="TBL_D84E24C5A4DBF9411074071"] fieldset+.tc-postfix-part {display: inline-block;}
.tc-table .tc-icon.edgeConnectDisabled {
    opacity: 0 !important;
    pointer-events: none;
}
[id$="__QUE_E31D95734B92C4D01026594date"] {width: auto !important;}
[id$="__QUE_E31D95734B92C4D01026595"]     {margin-top: 0.5rem;}
[id$="__p4_QUE_E31D95734B92C4D01026596"]  {margin-top: 0.5rem;}
.wsc-reverse-tabs > div > div 		 {width: 100% !important;}
.wsc-reverse-tabs > div > div> div:first-child	 {width: 200px !important;}
.carouselPagination {min-height: 2rem;}

/* move PM tabs to left */
#FMT_70909D02A3EA4C59588122+div>.swiper-wrapper { transform: none !important; }
#FMT_70909D02A3EA4C59588122+div>.swiper-wrapper>.swiper-slide { width: auto !important; }

span.hide-read-only {visibility: hidden;}

/* ALERT Filters - Date calander visibility issue - changed overflow attribute values */
div[id$="TBL_D84E24C5A4DBF9411074071"].tc-table-wrapper {
    overflow: visible;
}

div[id$="TBL_9F67ABBB2D1EFC0F1946007"].tc-table-wrapper {
    overflow: visible;
}

a[id$="BUT_9F67ABBB2D1EFC0F2151283"].icon-payment>span:before,.icon-payment>label:before {
    content: ""
}
a[id$="BUT_9F67ABBB2D1EFC0F2151284"].icon-payment>span:before,.icon-payment>label:before {
    content: ""
}
a[id$="BUT_9F67ABBB2D1EFC0F2151285"].icon-payment>span:before,.icon-payment>label:before {
    content: ""
}
a[id$="BUT_9F67ABBB2D1EFC0F2151286"].icon-payment>span:before,.icon-payment>label:before {
    content: ""
}
a[id$="BUT_9F67ABBB2D1EFC0F2151287"].icon-payment>span:before,.icon-payment>label:before {
    content: ""
}

.messagebg {background-color: #003e75;}

.tc-icon>span.tc-form-control {
	font-size: 0;
}
.tc-icon>span.tc-form-control:before {
	font-size: 1.5rem;
}
td.tc-answer-part fieldset>.tc-table-icon label:before{
	font-size: 1.5rem;
	top: 0.1rem;
	position: relative;
}

.tc-icon-shift-down>span::before {
	top: 0.3rem;
}

.PMenu .body {
	padding-right: 0 !important;
}

.headerDropdownRow {
	padding-right: 10px;
}
.headerDropdownRow:hover {
	background-color: #ddd;
}


.ToClientflag .exec {
	position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0;
}

/* hierarchy */
.jtk-connector path {
	stroke: #003e75;
	stroke-width: 2px;
}

.tc-card .node.tc-detail-section {
    width: 140px !important;
    min-width: 140px;
}

.node.tc-detail-section .node-exec {
    width: 100%;
    padding: 5px;
    border-radius: 0;
    box-shadow: none;
    text-align: center !important;
    margin-top: 10px;
}

.wsc-table-nav-item {
	display: inline-block;
    text-align: center;
    margin: 1px;
    font-size: 1rem;
    transition: all .2s;
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    border-radius: 50%;
    border: 2px solid transparent;
}

.wsc-table-nav-item.current-page {
	border: 2px solid #316da2;
	color: #316da2;
	font-weight: 700;
}

.wsc-table-nav-item:not(span):hover {
    border-color: #dddddd;
}
.inline-grid {
	display: inline-grid !important
}
.width100 {
	width: 100%;
}

.responsive-row.tc-normalise-card-heights {
	display: flex;
}

div.tc-icon.icon-circle-add > input:checked + label:before {
	background: #16c93e;
}

div.tc-icon.icon-circle-remove > input:checked + label:before {
    background-color: #e0392b;
}
.overridewidth100 {
	width: 100% !important;
}
.tc-edgelineartable-pagination{
	position: relative;
	left: 47.5%;
}


table.grouped tr.groupRow td[style].tc-hidden {
  display: none !important;
}
table.grouped tr.subRow td.wsc-subgroupcell-hidden {
  display: none;
}
table.grouped td.wsc-subgroupcell-show,
table.grouped td.grouplabel,
table.grouped tr.groupRow td.wsc-groupsum {
  display: table-cell !important;
}
table.wsc-table thead th[id*=_p1_BUT_],
table.wsc-table tbody td[id*=_p4_BUT_] {
  display: table-cell !important;
  padding: 0;
}

[id$="p1_QUE_CAE7C2C1799C88A3387816"] div{display: block !important;}

[id$="HEAD_824E24DCFD5319FB587169"] fieldset .ecDIB { vertical-align: bottom !important; }

div > span.wsc-ellipsis-act-160 {max-width: 160px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

td[id*="_QUE_CAE7C2C1799C88A3306432_"] div span {max-width: 350px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

div > span.wsc-ellipsis-act-130 {max-width: 130px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.wsc-ShowData.sm thead tr {display: none;}
.wsc-ShowData.sm tr.main.xs, tr.main.sm {font-weight: bold; background-color: #eee;}
.wsc-ShowData.sm tr.main.xs td, 
.wsc-ShowData.sm tr.main.sm td {border-top: 1px solid #aaa;}
.wsc-ShowData.sm td {border-bottom: none;}
.wsc-ShowData.sm tr.child {height: 2rem;}
.wsc-ShowData.sm tr.child td.tc-table-answer{text-align: right;}

.LCContainer {
    background-color: #eee;
    margin-right: 0px;
    min-width: 200px;
}

.LCItems { width: auto !important; }

.LCItem {
    white-space: nowrap;
    line-height: 20px;
    text-decoration:none;
    font-weight:700;
    margin-right: 2px;
    color: #4576A4;
    cursor: pointer;
}

.LCItem::after {
   font-family: 'T-Fonticons';
   content: "\69";
   vertical-align: text-top;
   font-size: 1.3em;
}