.sticky__content {
  float: left;
  width: 350px;
  padding: 20px;
  height: 100%;
}
.sticky__widget {
  float: right;
  height: 100%;
  width: 19px;
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transition: width 0.5s;
}
.sticky__widget.open {width: 40px;}
.sticky__widget .title {
  padding: 10px 15px;
  color: white;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg) translate(-110px,0px);
  position: absolute;
  width: 100%;
  left: 45.666%;
  text-align: center;
  transition: left 0.5s;
}
.sticky__widget.open .title {left:43% !important;}
.sticky__widget .title .sbe {margin: 0 8px;}
.sticky__widget .title i span {position: relative; top: 8px;}

.sticky__widget.color {background-color: #95A5A6;}
.sticky__widget.colorred {background-color: #E74C3C;}
.sticky__widget.colordarkBlue {background-color: #1E3558;}
.sticky__widget.colorpurple {background-color: #9B59B6;}
.sticky__widget.colorgreen {background-color: #27AE60;}
.sticky__widget.colorblue {background-color: #3498DB;}
.sticky__widget.colororange {background-color: #E67E22;}