﻿input[type="range"] {
  -webkit-appearance: none;
  margin: 6px 2px;
  -webkit-margin-after: 15px;
  vertical-align: bottom;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #E0E0E0;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #CCCCCC;
  border: 1px solid #888888;
  height: 15px;
  width: 8px;
  border-radius: 6px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #E0E0E0;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #E0E0E0;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #CCCCCC;
  border: 1px solid #888888;
  border-radius: 6px;
  cursor: pointer;
  height: 15px;
  background: #FFFFFF;
  width: 8px;
}

input[type="range"]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border: 1px solid #ccc;
  color: transparent;
  cursor: pointer;
  height: 3px;
  margin: 6px 0;
  width: 100%;
}
input[type="range"]::-ms-fill-lower {
  background: #E0E0E0;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #E0E0E0;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 1px #000000;
}
input[type="range"]::-ms-thumb {
  background: #5386b5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #CCCCCC;
  cursor: pointer;
  height: 5px;
  width: 8px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #E0E0E0;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #E0E0E0;
}
.SelectedStrategies_Level {
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 12px #fff;
  margin-top: -34px; /* 35 */
  padding-top: 1px;
  height: 20px;
  width: 40px;
}
.gaugeWidget label.SelectedStrategies_Level {
  color: #fff !important;
  font-size: 12px !important;
}
.ios .SelectedStrategies_Level {
  margin-left: 119px !important;
}
g.gauge-legend text {
  font-size: 12px !important;
  font-weight: 400;
}