﻿.richdropdown dd, .richdropdown dt, .richdropdown ul { 
    margin:0px; padding:0px; 
}

.richdropdown dd {
    position:relative; 
}

.richdropdown dl {
    margin-bottom:0px; 
}

/*  Dropdown box  */

.richdropdown dt { 
    /* Downward selector chevron */
    background-color: #fff;
    background-image: url(images/selector.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 97% center;
    background-size: 17px 17px;

    /*Other*/              
    -webkit-appearance: none;
    display:inline-block;
    border: 1px solid  #dddddd;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    min-height: 40px !important;
    line-height: 30px; 
    opacity: 1;
    padding-top: 3px; 
    padding-bottom: 3px; 
    padding-right: 18px; 

    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width:98%; 
    font-weight:normal;
    /* Unselectable text */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.richdropdown dt div.selected {
    cursor:default; display:block; padding:5px;
}

/* Selection options */

.richdropdown dd ul { 
    background-color:#fff;	
    opacity: 1;
    position: relative;
    z-index: 1;
    border:1px solid #dddddd;
    /* display:none; */
    width:auto; min-width:170px; list-style:none;
    /* Unselectable text */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Selection options hover */

.richdropdown dd ul li:hover { 
    background-color:#1e90ff; color:#fff;
}

/* Stars */
span.tc-icon icon-star-filled {
    color: black; font-size:25px;
}
span.tc-icon icon-star-empty {
    font-size:25px;
}


    
/* Styles for each item element on the row */

div.Item_1_Style {
    display:table-cell; 
    width:9%;
    vertical-align: middle;
    cursor:default;
    padding-left:3px;
}
div.Item_2_Style {
    display:table-cell; 
    width:170px;
    vertical-align: middle;
    text-align:left;
    cursor:default;
}
span.Item_2_Style { 
    padding-left:10px; 
    width:100%;
    max-width:170px;
    display:block;
    white-space: nowrap;  overflow: hidden;   text-overflow: ellipsis;
}
div.Item_3_Style {
    display:table-cell; 
    width:65%;
    vertical-align: middle;
    text-align:right;
    cursor:default;
}
span.Item_3_Style { 
    width:90%;
    max-width:200px;
    display:block; 
    white-space: nowrap;  overflow: hidden;   text-overflow: ellipsis;
}
div.Item_4_Style {
    display:table-cell; 
    width:250px;
    vertical-align: middle;
}
