div.spinner-wrapper {
    position: fixed;
    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    z-index: 1100;
    line-height: 30px;
    transform: translateX(-50%);
    margin-top: -50px;
    text-align: center;
    background-color: rgba(153, 153, 153, 0.95);
    border: 2px solid #ddd;
    color: #000;
    font-size: 1.5rem;
    padding-top: 7px;
    display: none
}

div.tc-screenMask{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1090;
    background-color: #000000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    display: none;
}