/*
.goalWrapper {
  overflow-x: hidden;
  white-space: nowrap;
  display: -webkit-inline-box;
  width: 100%;
  margin: 5px 0;
}

.goalItem {
  background-color: #eee;
  border-right: 5px solid #fff;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
	grid-template-columns: auto auto auto auto;
}

.gridItem0 {
  grid-column: 1;
  grid-row: 1 / span 5;
}
.gridItem1 {
  grid-column: 2;
  grid-row: 1;
}
.gridItem2 {
  grid-column: 3;
  grid-row: 1;
}
.gridItem3 {
  grid-column: 2;
  grid-row: 2;
}
.gridItem4 {
  grid-column: 3;
  grid-row: 2;
}
.gridItem5 {
  grid-column: 2;
  grid-row: 3;
}
.gridItem6 {
  grid-column: 2;
  grid-row: 4;
}
.gridItem7 {
  grid-column: 3;
  grid-row: 4;
}
.gridItem8 {
  grid-column: 2;
  grid-row: 6;
}
.gridItem9 {
  grid-column: 4;
  grid-row: 1 / span 5;
}
.Trident .goalItem {
  display:inline-flex;
}
.goalItem:hover {background-color: #e2e2e2;}
.goalItem > div > div > div.ecDIB {display: none;}

.goalNature {font-size: 0; margin-right: .7rem;}
.goalNature:before {font-family: 'T-Fonticons'; font-size: 3rem;}
.goalNature_2:before {content: "\5b"}
.goalNature_3:before {content: "\c9"}
.goalNature_4:before {content: "\271"}
.goalNature_5:before {content: "\272"}

.goalStatus {font-size: 0;}
.goalStatus:before {font-family: 'T-Fonticons'; font-size: 3rem;}
.goalStatus_1:before {content: "\77"; color: #2BC065;}
.goalStatus_2:before {content: "\141"; color: rgb(253, 105, 35);}
.goalStatus_3:before {font-family: 'T-Fonticons'; content: "\128";}
*/
.divLeft, .divRight {padding-top: 1rem;}
.divCenter {padding-top: 1rem; width: 70%;}
.divCenter a {color: #444;}

.carouselPagination {text-align: center;}
.Trident .carouselPagination {margin-top:10px;}

.carouselPagination div {
  background: #bbb;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 2px;
  width: 10px;
}

.paginationItem.selected {
  background: #333;
}

.goals-empty-message {
  border: 1px solid #ddd;
  display: block;
  margin: 10px 0;
  padding: 0.1rem 1rem;
}
.carouselPagination .tc-icon {margin-top: -5px; cursor:pointer; width:100px}
.paginate-Back, .paginate-Back span::before {float:left}
.paginate-Forward, .paginate-Forward span::before {float:right}