div.GroupContainer, div.QuestionsContainer {display:inline-block; vertical-align:top;}
.wsc-builder-zone ul {list-style-type:none; padding:0}
.wsc-builder-zone ul li {margin: 0.5rem}
.wsc-builder-zone ul ul {width:100%}
div.GroupContainer {min-height:1rem; width: 100%;}
ul.GroupContainer>li {border:1px solid #f2f2f2; background-color:#f8f8f8;}
ul.GroupContainer .title .grp {display:inline-block; width:40%;}
ul.GroupContainerItems.connected {background-color:#fff; min-height:20px;}
ul.GroupContainerItems > li {border-bottom:1px solid #ddd; background-color:#fff; margin:0.25rem; padding:0 0.2rem; line-height: 2.2rem;}
ul.GroupContainerItems .que {display:inline-block;width:44%;padding-left:0.3rem;}
div.QuestionsContainer {width:100%;}
ul.QuestionsContainer {border:1px dotted #ddd; margin-top:1rem; min-height: 3rem;}
ul.QuestionsContainer>li {border-bottom:1px solid #ccc; line-height: 2rem;}
ul.QuestionsContainer .que {padding-left: 0.5rem;}
ul.QuestionsContainer .descr {display:none;}
ul.QuestionsContainer .tc-icon {display:none;}
div.AnswerContainer {border:1px solid #ccc; background-color:#eee; min-height:1rem;}
ul.AnswerContainer>li {border:1px solid #ccc; background-color:#f8f8f8;}
li span.title {font-weight:700;padding:6px; display:block; background-color: #f2f2f2; border-bottom: 1px solid #ccc;}
li a.tc-icon {cursor:pointer; float:right; font-weight:700; height: 1.2em !important; margin-top: -5px;}
.ui-sortable.connected > li:hover {background-color: #eee;}
span.toggler {float:left; margin-right:1rem;}
span.toggler::before {content:"\70"; font-family:T-Fonticons;}
span.toggler.closed::before {content:"\69"; font-family:T-Fonticons;}

ul.GroupContainer > li > span > a.edit {color: #666; float: right; font-size: 2rem;}
ul.GroupContainer > li > span > a.trash {color: #666; float: right; font-size: 2rem;}
ul.GroupContainerItems > li > a.locate-hollow {color: #666; float: right; font-size: 2rem; margin-top: 4px;}

li span.drag-handle:before {
  content: "\7a";
  cursor:all-scroll;
  font-family: "T-Fonticons";
  font-weight: 700;
}
span.title > span.drag-handle:before {
  cursor:n-resize;
}

td a.icon-drag {
  cursor: n-resize;
}

tr.ui-sortable-helper {
  display: table-row;
}

tr.ui-sortable-helper td {
  display: inline-block;
}