.disable-add-button {
  cursor: not-allowed!important;
  pointer-events: none!important;
  opacity: 0.4!important;
}

tr.bggrey {
  background-color: #f1f1f1;
  font-weight: 700;
}

div.cindent {
  text-indent: 1rem;
}

i.tc-icon.sh {
  vertical-align: top;
}

.PrimeTable .formAnswer textarea.formItem {
  height: auto !important; 
  line-height: 2rem;
}

td.rowSpanOnSub {
  background-color: #fff;
}

td.rowSpanOnSub div {
  padding-left: 1rem;
}

td.rowSpanOnSub div.header { 
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: -2px -1px 2px;
  line-height: 3rem;
}