.LCContainer 
{
    background-color: #eee;
    margin-right: 0px;
    min-width: 200px;
}

.LCItems
{ width: auto !important; }

.LCItem 
{
    white-space: nowrap;
    line-height: 20px;
    text-decoration:none;
    font-weight:700;
    margin-right: 2px;
    color: #4576A4;
    cursor: pointer;
}

.LCItem::after {
   font-family: 'T-Fonticons';
   content: "\69";
   vertical-align: text-top;
   font-size: 1.3em;
}