<div id="hp_Monitoring_C4__TBL_MONITORING2" class="hp_Monitoring"><ul style='display:inline;'></ul></div>
<script>
$(document).ready(function(){
do_hp_Monitoring('C4__TBL_MONITORING2');
filterTableFromChart('C4__TBL_MONITORING2')
});
</script>