.tc-card .wsc-progressbar-wrapper {
  width: calc(100% - 84px);
}

.wsc-progressbar-wrapper {
  padding-top: 1rem;
  overflow: hidden;
  opacity: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  width: 80%;
}

.wsc-progressbar-wrapper .wsc-progressbar {
  text-align: center;
  padding-bottom: 1rem;
  position: relative;
  left: 0;
  white-space: nowrap;
  margin-top: 1rem;
}

.wsc-progressbar-wrapper .wsc-progressbar .wsc-progressstep {
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: normal;
  padding: 0 1rem 0.5rem;
  display: inline-block;
}

.wsc-progressbar-wrapper .wsc-progressbar .wsc-progressstep[onclick]:hover {
  cursor: pointer;
}

.wsc-progressbar-wrapper .wsc-progressbar .wsc-progressstep-visited {
  color: #003e75;
  position: relative;
}

.wsc-progressbar-wrapper .wsc-progressbar .wsc-progressstep-visited:after {
  content: " ";
  background: #003e75;
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #003e75;
  bottom: calc(-1.1rem - 7px);
}

.wsc-progressbar-wrapper .wsc-progressbar .wsc-progressstep-current {
  color: #003e75;
  font-weight: bold;
}

.wsc-progressbar-wrapper .wsc-progressbar-line {
  width: 100%;
  height: 2px;
  background-color: #dddddd;
  margin: 0;
}

.wsc-progressbar-wrapper .wsc-progressbar-marker-wrapper {
  position: relative;
  top: -2px;
}

.wsc-progressbar-wrapper
  .wsc-progressbar-marker-wrapper
  .wsc-progressbar-highlight {
  width: 2000px;
  left: -2000px;
  position: absolute;
  height: 2px;
  background-color: #003e75;
}

.wsc-progressbar-wrapper
  .wsc-progressbar-marker-wrapper
  .wsc-progressbar-marker {
  border-width: 2px;
  border-style: solid;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
  position: relative;
  border-radius: 50%;
  z-index: 2;
  background-color: #ffffff;
  border-color: #003e75;
}

.tc-compact
  .wsc-progressbar-wrapper
  .wsc-progressbar-marker-wrapper
  .wsc-progressbar-marker {
  width: 15px;
  height: 15px;
  top: -7px;
}
