<div id="hp_Monitoring_$$COMPONENT_ID_PREFIX$TBL_MONITORING2" class="hp_Monitoring"><ul style='display:inline;'></ul></div>
<script>
$(document).ready(function(){
do_hp_Monitoring('$$COMPONENT_ID_PREFIX$TBL_MONITORING2');
filterTableFromChart('$$COMPONENT_ID_PREFIX$TBL_MONITORING2')
});
</script>