﻿/*
.ui-datepicker-trigger{
  cursor: pointer;
  width: 21px;
  height: 25px;
  margin-left:3px;
  display: inline-block !important;
  background-repeat: no-repeat;
  background-position: -186px -113px;
}
*/
.ui-datepicker {
  font-family: 'Roboto';
  padding: 0 !important;
  position: absolute !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
}
.ui-datepicker .ui-state-default {
  background: none repeat scroll 0 0 #DFEFFC;
  border: 1px solid #C5DBEC;
  color: #2E6E9E;
  font-weight: bold;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-default {
  background: none repeat scroll 0 0 #FFFFFF !important;
  border: 1px solid #2E6E9E;
}

.ui-datepicker table{
  margin: 0 0 12px;
}

/* line 372, ../sass/partials/_forms.scss */
button.ui-datepicker-trigger {
  margin-top:0!important;
  position: relative;
  z-index: 5;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #C3C3C3;
  border: solid rgba(195, 195, 195, 0.65);
  -webkit-box-shadow: rgba(207, 208, 208, 0.65) 0 1px 2px inset, rgba(255, 255, 255, 0.75) 0 1px 0;
  -moz-box-shadow: rgba(207, 208, 208, 0.65) 0 1px 2px inset, rgba(255, 255, 255, 0.75) 0 1px 0;
  box-shadow: rgba(207, 208, 208, 0.65) 0 1px 2px inset, rgba(255, 255, 255, 0.75) 0 1px 0;
  font-weight: 500;
  font-size: 1.1em;
  text-align: center;
  color: #777777;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(#f0f0f0, #dbdbdb);
  background-image: -moz-linear-gradient(#f0f0f0, #dbdbdb);
  background-image: -o-linear-gradient(#f0f0f0, #dbdbdb);
  background-image: linear-gradient(#f0f0f0, #dbdbdb);
  text-shadow: 0 1px 0 white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:33px!important;
  width:33px!important;
}


/* line 421, ../sass/partials/_forms.scss */
button.ui-datepicker-trigger {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-width: 1px 1px 1px 0;
}


/* line 426, ../sass/partials/_forms.scss */
input.date-picker{
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  width:110px!important;
}

.ui-datepicker-prev, .ui-datepicker-next {display:none!important;}
.ui-datepicker-prev, .ui-datepicker-next {display:none!important;}
.ui-datepicker-title{margin:0!important;}

.date-picker {display: inline-block;}
.date-picker[disabled] + img {display: none !important;}

.ui-datepicker .ui-datepicker-header {padding: 0;}
.ui-datepicker-title {background-color: #578AB9;}
.ui-datepicker select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 0 none;
  color: #fff;
  height: 40px;
  text-align: center;
}
.ui-datepicker select::-ms-expand {
  display: none;
}
.ui-datepicker select option {
  background-color: #fff; color: #444;
}
.ui-datepicker select option:hover,
.ui-datepicker select option:selected {
  background-color: #578AB9; color: #fff;
}

.ui-datepicker .ui-state-default {
  background-color: #ffffff !important;
  border: 0 none;
  color: #1E5988;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-hover {
 background-color: #e0e0e0 !important;
  border-radius: 4px;
 }

.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-hover {
 background-color: #e0e0e0 !important;
  border-radius: 4px;
 }
.ui-datepicker .ui-state-default.ui-state-highlight.ui-state-active,
.ui-datepicker .ui-datepicker-current-day  {
  border-radius: 4px;
}


/* Font family: Roboto */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Roboto;
    font-size: 1em;
}


/* Downward selector arrow for month/year */

.ui-datepicker select.ui-datepicker-month {
  width: 30%;
  background:  url("../images/selectorneg.png") no-repeat scroll 97% center;
}

.ui-datepicker select.ui-datepicker-year { width: 35%;
  background:  url("../images/selectorneg.png") no-repeat scroll 97% center;
  margin-left: 50px;
}


input.formItem.date-picker:disabled,input.formItem.time-picker:disabled {
  border-radius: 4px;
  min-width: 100px !important;
  width: 122px !important;
  padding: 3px 0px !important;
}
input.formItem.date-picker.hasDatepicker[readonly][disabled]:not(.dpdro) {
  border: 0 none; /* !important;*/
  background-color: inherit;
  color: #444;
}
.Trident input.formItem.date-picker.hasDatepicker[readonly][disabled]:not(.dpdro) {background-color: #fff;}
input.formItem.date-picker.hasDatepicker[readonly][placeholder][value=""][disabled]:not(.dpdro) {color: #fff;}
