.topLeftLegend, .bottomLeftLegend {list-style-type: none; display: flex; text-shadow: 1px 1px 2px #fff;}
.topRightLegend, .bottomRightLegend {display: inline; float: right; position: relative; top: -18px; right: 6px; text-shadow: 1px 1px 1px #fff;}

.pin {
  width: 25px;
  height: 25px;
  border-radius: 80% 50% 80% 0;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: -25px;
  margin: -20px 0 0 -20px;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}

.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  position: absolute;
  border-radius: 50%;
}