div.GroupContainer, div.QuestionsContainer {display:inline-block; vertical-align:top;}
.wsc-builder-zone ul {list-style-type:none; padding:0}
.wsc-builder-zone ul li {margin: 0.5rem}
.wsc-builder-zone ul ul {width:100%}
div.GroupContainer {min-height:1rem; width: 100%;}
ul.GroupContainer>li {border:1px solid #f2f2f2; background-color:#f8f8f8;}
ul.GroupContainer .title .grp {display:inline-block; width:50.8%;}
ul.GroupContainerItems.sortable {background-color:#fff; min-height:20px;}
ul.GroupContainerItems > li {border-bottom:1px solid #ddd; background-color:#fff; margin:0.25rem; padding:0 0.3rem; line-height: 3rem;}
ul.GroupContainerItems .que {display:inline-block;width:54%;padding-left:0.3rem;text-indent:2.4rem;}
div.QuestionsContainer {min-height:1rem;width:100%;}
ul.QuestionsContainer:empty {border: 1px dashed #ddd;min-height: 3rem;}
ul.QuestionsContainer>li {border-bottom:1px solid #ccc; line-height: 3rem;}
ul.QuestionsContainer .que {padding-left: 0.5rem;}
ul.QuestionsContainer .descr {display:none;}
ul.QuestionsContainer .icon {display:none;}
div.AnswerContainer {border:1px solid #ccc; background-color:#eee; min-height:1rem;}
ul.AnswerContainer>li {border:1px solid #ccc; background-color:#f8f8f8;}
li span.title {font-weight:700; padding:6px; display:block; background-color: #f2f2f2; border-bottom: 1px solid #ccc;}
li span.drag-handle {cursor:all-scroll; float:left; font-weight:700; font-size:2rem; padding:0 4px;}
li span.title span.drag-handle {cursor:n-resize; float:left; font-weight:700; font-size:2rem; padding:0 4px;}
li span.drag-handle:before {content:"\7a"; font-family:BlueMagic23; color:#666;}
li span.delete, li span.edit, li a.locate, li a.locate-hollow {cursor:pointer; float:right; font-size: 2rem; font-weight: 500; padding:0 4px;}
li span.delete:before {content:"\68"; font-family:BlueMagic;}
li span.delete:before, li span.edit, li a.locate, li a.locate-hollow:before {color:#666;}
.sortable > li:hover {background-color: #e0e8f0;}
span.toggler {float:left; margin-right:1rem;}
span.toggler::before {content:"\70"; font-family:BlueMagic23;}
span.toggler.closed::before {content:"\69"; font-family:BlueMagic23;}

ul.GroupContainer > li > span > a.edit {color: #666; float: right; font-size: 2rem;}
ul.GroupContainer > li > span > a.trash {color: #666; float: right; font-size: 2rem;}
ul.GroupContainerItems > li > a.locate-hollow {color: #666; float: right; font-size: 2rem; margin-top: 4px;}