<!DOCTYPE html>
<html dir="$$PRESENTATIONTYPE.LAYOUTDIRECTION$"  xmlns="http://www.w3.org/1999/xhtml"  xml:lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    
    <title>UXP React Template</title>
  </head>
  <body class="BrowserWindow">
    <div class="Banner" ></div>
    <form name="form1" id="form1" method="post" action="servletcontroller"></form>
  </body>
</html>
