#container {
  position: relative;
  height: 100%; /* Or whatever you want (eg. 400px) */
}
.ps-scrollbar-y-rail, .ps-scrollbar-y { 
  z-index: 2000 
}
.tc-popup .ps-container.ps-active-y > .ps-scrollbar-y-rail {
	right: -2px !important;
}

.tc-popup .tc-menu-scroll-container {
	height: auto;
	max-height: 80vh;
}

.ps__rail-x:hover, .ps__rail-y:hover, .ps__rail-x:focus, .ps__rail-y:focus {
    background-color: transparent;
    opacity: 0.5;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y {
  width: 6px;
}

.ps__rail-y {
  left: auto !important;
}

.scrollbar-container {
  position: relative;
}