﻿/* Progress Tracker v2 */
ol.progressBar[data-steps="2"] li { width: 49.4%; }
ol.progressBar[data-steps="3"] li { width: 33%; }
ol.progressBar[data-steps="4"] li { width: 24.7%; }
ol.progressBar[data-steps="5"] li { width: 19.8%; }

.progressBar {
  width: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0; /*20px 0 20px 20px;*/
  padding: 0;
}

.progressBar li {
  float: left;
  text-align: center;
  position: relative;
}

.progressBar .name {
	font-family: "Roboto Light", "Roboto";
	font-size: 20px;
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin-bottom: 0.4em; /*1em;*/
  color: #666;
	text-transform: uppercase;
}
.progressBar .name.long {
    line-height: 18px;
}

.progressBar .step {
  color: black;
	background-color: #fff;
  border-radius: 50%;
  line-height: 1.2;
  width: 25px;
  height: 25px;
  display: inline-block;
  z-index: 0;
}

.progressBar .active .name,
.progressBar .active .step span {
/*	font-family: "Roboto";*/
	font-size: 20px; /*22px;*/
	font-weight: 700;
	color: #4576a4;
}

.progressBar .step:before {
  content: "";
  display: block;
  background-color: #666;
  height: 2px;
  width: 60%;
  position: absolute;
  bottom: 16px;
  left: 0;
}

.progressBar .step:after {
  content: "";
  display: block;
  background-color: #666;
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: 16px;
  right: -12px;
}

.progressBar .step:before,
.progressBar .step:after,
.progressBar .active .step:before,
.progressBar .active .step:after {
	bottom: 16px; /*22px;*/
}
body[data-section="mutualfund"] .progressBar .step:before,
body[data-section="mutualfund"] .progressBar .step:after,
body[data-section="mutualfund"] .progressBar .active .step:before,
body[data-section="mutualfund"] .progressBar .active .step:after {
	bottom: 22px; /*22px;*/
}
body[data-section="investmentprofile"] .progressBar .step:before,
body[data-section="investmentprofile"] .progressBar .step:after,
body[data-section="investmentprofile"] .progressBar .active .step:before,
body[data-section="investmentprofile"] .progressBar .active .step:after {
	bottom: 23px; /*22px;*/
}

.progressBar li:first-of-type .step:before {
  /*display: none;*/
}

.progressBar li:last-of-type .step:after {
  /*display: none;*/
}

.progressBar .done .name {
	color: #4576a4;
}

.progressBar .done .step:after {
	width: 100%;
}

.progressBar .done .step:after,
.progressBar .active .step:before {
  background-color: #4576a4;
}
.progressBar .active .step:before {width: 47%;}
.progressBar[data-steps="2"] .active .step:before {width: 48%;}
.progressBar[data-steps="4"] .active .step:before {width: 46%;}
.progressBar[data-steps="5"] .active .step:before {width: 46%;}

.progressBar .active .step {
  border: 3px solid #4576a4;
}
