/* Form WMActivities */
.WMActivities {
  font-family: "Roboto" !important;	
  font-size: 14px;
  width: 100%;
  list-style: none;
  list-style-image: none;
  align:left;
}

.WMActivities .bar,
.WMActivities .rightBar{
  display: inline-block;
  width: 100%;
  height: 25px;
}

.event a {
    background-color: rgb(52, 152, 219) !important;
	border-radius: 4px;
    background-image :none !important;
    color: #1E5988 !important;
}

.eventlowPriority a {
    background-color: #9acced !important;
	border-radius: 4px;
    background-image :none !important;
    color: #1E5988 !important;
}

.WMActivities .rightBar {
  width: 8px;
  height: 32px;
  background:transparent;
  margin: 0px -5px -13px -5px;
  border-top: 15px solid white;
  border-bottom: 15px solid white;
}

.WMActivities .bar .label {
  display: inline-block;
  width: 75px;
  height: 25px;
  line-height: 25px;
  border-radius: 0px;
  color: #444444;
  font-size: 14px;
  text-align:middle;
  font-family: "Roboto" !important;	  
  font-weight:normal; 
} 

/* TODO / SVRQ */
.WMActivities .rightBar.TODO,
.WMActivities .bar.TODO {
	background: #FFFFFF;
}

.WMActivities .rightBar.TODO {
  margin: 0px -5px -13px -5px; 
  border-top: 15px solid white;
  border-bottom: 15px solid white;
 
}

.WMActivities .bar.TODO .label {
  color: #000;
  font-weight:bold;  
}

.WMActivities .bar.TODO .title {
  color: #b6b6be;
}

.WMActivities .rightBar.SVRQ,
.WMActivities .bar.SVRQ {
  background: #FFFFFF;
}

.WMActivities .bar.SVRQ .label {
  color: #000000;
  background: #FFFFFF;
}

.WMActivities .bar.SVRQ .title {
  color: #7aa2c7;
  font-weight:bold; 
}

.WMActivities .rightBar.SVRQ {
  margin: 0px -5px -13px -5px;
  border-top: 15px solid white;
  border-bottom: 15px solid white;

}

.disabled{
  color: #999!important; 
 }
 
.PopInfoBar {
    visibility: hidden;
	/*opacity:0.9;*/
	background: #F2F2F2;
	padding: 2px;
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.08);
	width:64%;
	max-width: 85%;
    position: absolute;
	left: 56px;
	z-index: 1;
	text-align:left;
	box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
	font-size:12px;
	color:#000;
	font-family: "Roboto" !important;
	cursor:default;	
}

.WMActivities g:hover div {
    visibility: visible;
}

.WMActivities g div {
   display: inline-block;
   color: #444444;
   line-height: 15px;
   margin: 0;
  
}

.ui-datepicker {
  font-family: 'Roboto';
  padding: 0 !important;
  position: static !important;
  width:20em;
  color:#696969 !important;
}
.ui-datepicker .ui-state-default {
 /* background: none repeat scroll 0 0 #DFEFFC; */
  border: 1px solid #C5DBEC;
  color: #2E6E9E;
  font-weight: bold;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-default {
  /* background: none repeat scroll 0 0 #FFFFFF !important; */  
  border: 1px solid #2E6E9E;
}

.ui-datepicker select.ui-datepicker-month{
  width: 34%;
  border: 1px solid #F2F2F2;
  box-shadow: 0 0 0 0;
  position: relative;
  top: -8px !important;
}

.ui-datepicker select.ui-datepicker-year{
  width: 34%;
  border: 1px solid #F2F2F2;
  box-shadow: 0 0 0 0;
  position: relative;
  top: -8px !important;
}

.ui-datepicker table{
  margin: 0 0 12px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  line-height: 210%;
  overflow: hidden;
}

.ui-datepicker-prev::before {
	font-family: 'BlueMagic23' !important;
	content: "\174";
  color: #999999;
  font-size: 16pt;
}
.ui-datepicker-next::after {
	font-family: 'BlueMagic23' !important;
	content: "\175";
  color: #999999;
  font-size: 16pt;
}

.ui-widget-header .ui-icon {
	background: none !important;
}
.ui-datepicker-prev.ui-corner-all.ui-state-disabled, .ui-widget-header .ui-datepicker-prev.ui-state-hover{
  background: none;
	border:none;
	left: 2px;
  top: 2px;
}

.ui-datepicker-next.ui-corner-all.ui-state-disabled, .ui-widget-header .ui-datepicker-next.ui-state-hover{
  background: none;
	border:none;
	right: 2px;
  top: 2px;
}

.ui-datepicker-title{margin:0!important;
background-color:white;
}

.date-picker {
display: inline;
}
.date-picker[disabled] + img {display: none !important;}

/*.ui-datepicker .ui-datepicker-header {padding: 0;} */
.ui-datepicker select {
  -webkit-appearance: none;			/* Commented out to turn off border for month / year */
  -moz-appearance: none;
  background-color: transparent;
/*  border: 0 none; */
  text-align: center;
  margin: 20px;
  
  background-color: #fff !important;
  background-image: url(images/selectorWithBorder.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 100% center;
  background-size: 40px 40px;
  
  border-radius: 4px;
  display: inline-block;
  min-height: 40px !important;
  line-height: 30px;
  opacity: 1;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 1px 25px 1px 5px !important;
}
.ui-datepicker select::-ms-expand {
  display: none;
}
.ui-datepicker select option {
  background-color: #fff; color: #444;
}
.ui-datepicker select option:hover,
.ui-datepicker select option:selected {
  background-color: #578AB9; color: #fff;
}
.ui-datepicker .ui-state-default {
  /* background-color: #ffffff !important; */
  border: 0 none !important;
  color: #1E5988;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin:1px;
}
.ui-datepicker-inline{
display:inline !important;
}

.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-default.ui-state-hover {
 /* background-color: #e0e0e0 !important; */
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px #305273 inset;
 }
 
#FMT_TODAYLINK, #FMT_TODAYLINK_ON {
  float: right;
}
 
 /* .ui-datepicker .ui-state-default.ui-state-highlight.ui-state-active,
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4576a4 !important;
  border-radius: 4px;
  color: #fff;
} */
.ui-widget button {
  font-family: 'Roboto';
}

.ui-datepicker-current-day{
	background-color: #4576a4 !important;
    border-radius: 4px;
}

.ui-datepicker-today{
	background-color: #cccccc !important;
    border-radius: 4px;
}

.activitiesTableContainer tbody td {
    background-color: #fff;

    line-height: 18px;
}


.activitiesTableContainer tbody tr:hover td {
  background-color: #f0f0f0 !important;
}

.activitiesTableContainer tbody tr.rowClick {
  cursor: pointer;
}


a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor:pointer;
}