   .tc-scroll-to-top, .tc-scroll-to-bottom {
       position: fixed;
       right: 4px;
       bottom: 100px;
       width: 38px;
        height: 38px;
       transition: all 0.3s;
       z-index: 1070;
       opacity: 0;
       pointer-events: none;
       transition: opacity 0.3s;
       display: flex;
        align-items: center;
       justify-content: center;
       display: none;
       border: 2px solid #ddd;
       border-radius: 50%;
       overflow: hidden;
   }
   .tc-scroll-to-bottom { 
      bottom: 50px; 
   }
   .tc-scroll-to-top:hover, .tc-scroll-to-bottom:hover {
     cursor: pointer;
   }
   .tc-scroll-to-top a, .tc-scroll-to-bottom a {
      color: #FFF;
      min-width: 0;
   }

   .tc-show-scroll {
      opacity: 1;
      pointer-events: all;
      display: block;
   }
   .tc-scroll-to-top>.tc-subheader-icon>span::before,
   .tc-scroll-to-bottom>.tc-subheader-icon>span::before {
      height: 40px;
      line-height: 36px;
   }

   .tc-scroll-to-bottom>.tc-subheader-icon>span::before {
      top: 1px;
      position: relative;
   }