﻿.matrixContainer {
  font-family: Roboto;
  font-size: 14px;
}
.matrixContainer table {
  margin: 0;
  width: 100%;
}
.matrixContainer table.preMatrix {
  display: none;
}
.matrixContainer table.matrixResult {
  background-color: #fff;
  border: 1px solid #fff;
  cursor: default;
}
.matrixContainer table.matrixResult th,
.matrixContainer table.matrixResult td {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  line-height: 4em;
  padding: 0 8px;
}
.matrixContainer table.matrixResult td i {
  display: block;
  font-style: normal;
  line-height: 1.5em;
  text-align: right;
  white-space: nowrap;
}
.matrixContainer table.matrixResult td i.neg {
/*  color: #c44; */
}
.matrixContainer table.matrixResult thead th {
  background-color: #e7e7e7;
  border-color: #fff;
  color: #444;
  font-weight: 700;
  text-align: center;
}
.matrixContainer table.matrixResult thead th.hlabel {
  border-color: #fff;
  background-color: #ffffff;
  border: 0 none;
}
.matrixContainer table.matrixResult tfoot td {
  background-color: #def;
}
.matrixContainer table.matrixResult tbody td {
  background-color: #fff;
}
.matrixContainer table.matrixResult td.ocell {
  background-color: #fff;
}
.matrixContainer table.matrixResult td.mlabel {
  background-color: #e7e7e7;
  border-color: #fff;
  color: #444;
  font-weight: 700;
  text-align: left;
}
.matrixContainer table.matrixResult tr.totals td,
.matrixContainer table.matrixResult td.mtotal {
  background-color: #d4e1ed;
  border-color: #fff;
  color: #444;
}
.matrixContainer table.matrixResult thead th.mtotal,
.matrixContainer table.matrixResult tr.totals td.mlabel {
  background-color: #d4e1ed;
}
.matrixContainer table.matrixResult td.alltotal {
  background-color: #b7cde1 !important;
  font-weight: 700;
}
.matrixContainer table.matrixResult thead td.nolabel,
.matrixContainer table.matrixResult tr.totals td.nolabel {
  background-color: #fff;
}
.matrixContainer table.matrixResult tr.totals td.nototal {
  background-color: #fff;
  border: 0 none;
}
.matrixContainer table.matrixResult th[onclick],
.matrixContainer table.matrixResult td[onclick] {
  cursor: pointer;
}
.matrixContainer p.hidden {display: none}
table.matrixResult {border-collapse: collapse; border-spacing: 0;}
.ios .matrixContainer {
  overflow: auto;
  font-size: 16px;
}
body.ios[data-section=client] .matrixContainer {
  max-height: 280px;
}
body.ios[data-section=summary] .matrixContainer {
  max-height: 310px;
}

.ios .matrixContainer td,
.surface .matrixContainer td {
  vertical-align: middle;
}
.ios .matrixContainer table.matrixResult th,
.ios .matrixContainer table.matrixResult td,
.surface .matrixContainer table.matrixResult th,
.surface .matrixContainer table.matrixResult td {
  line-height: 2em;
}
